- const path = '../../'
include ../../library.blocks/title/title
include ../../library.blocks/text-field/text-field
include ../../library.blocks/radio/radio
include ../../library.blocks/button/_border/button_border
include ../../library.blocks/toggle/toggle
include ../../library.blocks/date-dropdown/date-dropdown
include ../../library.blocks/dropdown/dropdown
include ../../library.blocks/button/_big/button_big
include ../../common.blocks/have-acc/have-acc
include ../../common.blocks/room-card/room-card

doctype html
html.html(lang="ru")
    head
        meta(charset="UTF-8")
        title
    body.pages.pages_cards
        img.watermark(src=path + "library.blocks/watermark/watermark.svg", alt="")
        .container.container_direction-column
            include ../../common.blocks/card/_primary-parameters/card_primary-parameters
            include ../../common.blocks/card/_registration/card_registration
        .container.container_direction-column
            include ../../common.blocks/card/_room-details/card_room-details
            include ../../common.blocks/card/_login/card_login
        .container.container_direction-column
            include ../../common.blocks/calendar/calendar
            +roomCard({})
