- const path = '../../'
include ../../library.blocks/date-dropdown/date-dropdown

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        title
    body.pages.pages_cards
        img.watermark(src=path + "library.blocks/watermark/watermark.svg", alt="")
        +dateDropdown({})

