- const path = '../../'
include ../../library.blocks/title/title
include ../../library.blocks/text-field/text-field
include ../../library.blocks/radio/radio
include ../../library.blocks/button/_border/button_border
include ../../library.blocks/toggle/toggle
include ../../library.blocks/date-dropdown/date-dropdown
include ../../library.blocks/dropdown/dropdown
include ../../library.blocks/button/_big/button_big

doctype html
html.html(lang="ru")
    head
        meta(charset="UTF-8")
        title
    body.pages.pages_cards
        img.watermark(src=path + "library.blocks/watermark/watermark.svg", alt="")
        include ../../common.blocks/card/_primary-parameters/card_primary-parameters
        include ../../common.blocks/card/_registration/card_registration
