- const path = '../../'
include ../../library.blocks/title/title
include ../../library.blocks/text-field/text-field
include ../../library.blocks/radio/radio
include ../../library.blocks/button/_border/button_border
include ../../library.blocks/toggle/toggle
include ../../library.blocks/rate/rate
include ../../library.blocks/calendar/calendar.pug
include ../../library.blocks/date-dropdown/date-dropdown
include ../../library.blocks/dropdown/dropdown
include ../../library.blocks/button/_big/button_big
include ../../common.blocks/have-acc/have-acc
include ../../common.blocks/room-card/room-card
include ../../common.blocks/card/_primary-parameters/card_primary-parameters
include ../../common.blocks/card/_room-details/card_room-details
include ../../common.blocks/card/_registration/card_registration
include ../../common.blocks/card/_login/card_login

doctype html
html.html(lang="ru")
  head
    meta(charset="UTF-8")
    title
  body.pages.pages_cards
    img.watermark(src=require("@src/library.blocks/watermark/watermark.svg").default, alt="watermark")
    .container.container_direction-column
        +primaryCard({calendar: false})
        +registration({})
    .container.container_direction-column
        +roomDetalisCard({onlyButtons: 1})
        +login({})
    .container.container_direction-column
        include ../../common.blocks/calendar/calendar
        +roomCard({
        imgPath: [
          "common.blocks/room-card/__image/room-card__image-1.svg",
          "common.blocks/room-card/__image/room-card__image-2.svg",
          "common.blocks/room-card/__image/room-card__image-1.svg",
          "common.blocks/room-card/__image/room-card__image-2.svg",
        ],
        })
        +roomCard({
        imgPath: [
          "common.blocks/room-card/__image/room-card__image-2.svg",
          "common.blocks/room-card/__image/room-card__image-1.svg",
          "common.blocks/room-card/__image/room-card__image-2.svg",
          "common.blocks/room-card/__image/room-card__image-1.svg",
        ],
        roomNumber: 840,
        price: 9900,
        luxuryStatus: '',
        rate: 4,
        reviews: 65,
        })
