@use '@styles/useless/useless'
@import '@styles/vars/colors'

.card-room-details
  @include useless.card-common

  &__heading
    display: flex
    align-items: flex-end
    justify-content: space-between

  &__room-number
    margin: 0
    font-size: useless.px2rem(24px)
    justify-content: flex-end
    color: $color-title-fg
    vertical-align: bottom

    &::before
      content: '№ '
      font-size: useless.px2rem(14px)

    &_deluxe 

      &::after
        content: 'люкс'
        @include useless.font-bold-type
        color: $color-primary
        margin-left: 1px

  &__cost
    font-weight: bold
    color: $color-additional-fg

    &::after
      content: ' в сутки'
      font-weight: normal

  &__dropdown, &__date-dropdown
    display: flex
    flex-direction: column
    row-gap: 5px

  &__date-dropdown-title-container
    display: flex
    column-gap: 20px

    & > *
      flex-basis: 50%

  &__cost-table
    border-collapse: separate
    border-spacing: 5px 10px

  &__service-description
    vertical-align: top
    width: 214px

  &__service-info
    vertical-align: top

  &__service-cost, &__service-additional-cost
    text-align: right
    vertical-align: top

  &__total
    margin-top: 10px
    display: flex
    column-gap: 4px

  &__total-caption, &__total-cost
    font-weight: bold
    color: $color-title-fg
    font-size: useless.px2rem(19px)
    
  &__total-dashed-line
    width: 100%
    border-bottom: 1px dotted $color-unclaimed-fg
    height: 80%
    box-sizing: border-box

  & > &__container > *:last-child
    margin-top: 0

