@use 'sass:color'

@use '@styles/useless/useless'
@import '@styles/vars/colors'

@mixin container-styles($color-border: rgba(31, 32, 65, .25))
  display: flex
  padding: 0
  width: 100%
  background: $color-main-bg
  border: 1px solid $color-border
  border-radius: 4px
  box-sizing: border-box

$alpha-delta: 0.1
$color-disabled: color.adjust($color-main-fg, $alpha: -0.65)
  
.dropdown
  position: relative
  width: 320px
  min-width: 266px

  &_narrow
    width: 266px

  &__expand-button
    @include container-styles($color-unclaimed-fg)
    justify-content: space-between
    text-indent: 13px
    align-items: center
    color: $color-main-fg
    height: 44px
    outline: none
    cursor: pointer

    &_pressed
      border-color: $color-additional-fg
      border-bottom-left-radius: 0
      border-bottom-right-radius: 0

    &:hover, &:focus
      border-color: $color-additional-fg

      & .dropdown__expand-icon > *
        opacity: .75

  &__signature
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap

  &__expand-icon
    display: flex
    justify-content: center
    min-width: 44px

  &__list
    @include container-styles($color-additional-fg)
    flex-direction: column
    row-gap: 7px
    margin: 0
    padding-top: 6px
    padding-right: 7px
    padding-bottom: 8px
    position: absolute
    border-top: none
    border-top-left-radius: 0
    border-top-right-radius: 0
    box-shadow: 0 10px 20px color.adjust($color-main-fg, $alpha: -0.7)
    z-index: 9

    &_hidden
      display: none

  &__list-section
    display: flex
    column-gap: 8px
    align-items: center

  &__section-name
    @include useless.font-bold-type
    color: $color-title-fg
    flex-grow: 1
    text-indent: 13px

  &__decrease-button, &__increase-button
    @include useless.button-common-styles
    width: 30px
    height: 30px
    font-size: useless.px2rem(18px)
    color: $color-additional-fg
    border: 1px solid $color-unclaimed-fg
    border-radius: 50%

    &:hover, &:focus
      color: color.adjust($color-additional-fg, $alpha: $alpha-delta)
      border: 1px solid color.adjust($color-unclaimed-fg, $alpha: $alpha-delta)

    &_disabled
      
      &, &:hover, &:focus
        color: $color-disabled
        border: 1px solid $color-disabled

  &__counter
    @include useless.font-bold-type
    color: $color-title-fg
    display: flex
    width: 16px
    justify-content: center

  &__control-buttons-container
    display: flex
    flex-direction: row-reverse
    justify-content: space-between
    padding-top: 15px
    padding-left: 13px

  &__apply-button, &__cancel-button

    &_hidden
      display: none
      
