@import '@/node_modules/normalize.css'

@import '@src/fonts/montserrat-regular/fonts.css'
@import '@src/fonts/montserrat-bold/fonts.css'
@import '@styles/vars/colors'
@import '@styles/vars/fonts'

$size-base-font: 14px

html
  background-color: $color-main-bg
  font-family: $font-main
  font-size: $size-base-font
  scroll-behavior: smooth

