@use 'sass:color'

@use '@styles/useless/useless'
@import '@styles/vars/colors'

.pagination
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
  row-gap: 10px
  color: $color-additional-fg

  &__item
    display: inline-flex
    justify-content: center
    align-items: center
    width: 40px
    height: 40px
    background-color: $color-main-bg
    border-radius: 50%
    text-decoration: none
    @include useless.font-type($size: 12px, $color: $color-additional-fg)
    outline: none

    &:hover, &:focus
      background-color: color.adjust($color-main-bg, $lightness: -7%)

    &_active
      background: $gradient-primary
      @include useless.font-type($color: white, $weight: bold)

      &:focus, &:hover
        background: $gradient-focus

  &__next-item
    @include useless.button-common-styles()
    display: inline-flex
    justify-content: center
    align-items: center
    border-radius: 50%
    width: 40px
    height: 40px
    background: $gradient-secondary

    & *
      opacity: 1
      fill: white

    &:hover, &:focus
      background: $gradient-secondary-focus

  &__sign
    display: inline-flex
    flex-basis: 100%
    justify-content: center
    color: $color-main-fg

