include ../svg-expand-icon/svg-expand-icon

mixin dropdown(params)
  - 
    const {sectionNames = []} = params

  .dropdown.js-dropdown
    button.dropdown__expand-button.js-dropdown__expand-button
      span.dropdown__signature.js-dropdown__signature Сколько гостей
      .dropdown__expand-icon
        +svg-expand-icon
    ul.dropdown__list.js-dropdown__list.dropdown__list_hidden
      each name in sectionNames
        li.dropdown__list-section
          .dropdown__section-name.js-dropdown__section-name #{name}
          button.dropdown__decrease-button.js-dropdown__decrease-button(
            class="dropdown__decrease-button_disabled"
          ) -
          .dropdown__counter.js-dropdown__counter 0
          button.dropdown__increase-button.js-dropdown__increase-button +

