mixin dropdown(params)
    - let {narrow = false, expand = false, special} = params
    if special
        .dropdown.container.container_direction-column.dropdown_special
            h3.h3.dropdown__sign dropdown
            button.dropdown__button.dropdown__button_open.container.container_justify-content-space-between.container_align-items-center
                span Сколько гостей
                span.dropdown__expand-icon
            include ./__expand-list/dropdown__expand-list.pug
    else if narrow
        if expand
            .dropdown.dropdown_narrow.container.container_direction-column
                .container.container_justify-content-space-between
                    h3.h3.dropdown__sign dropdown
                    h3.h3.dropdown__sign.dropdown__sign_bright expanded
                button.dropdown__button.dropdown__button_open.dropdown__button_narrow.container.container_justify-content-space-between.container_align-items-center
                    span 2 спальни, 2 кровати...
                    span.dropdown__expand-icon
                include ./__expand-list/_narrow/dropdown__expand-list_narrow.pug
        else
            .dropdown.dropdown_narrow.container.container_direction-column
                .container.container_justify-content-space-between
                    h3.h3.dropdown__sign dropdown
                    h3.h3.dropdown__sign.dropdown__sign_bright default
                button.dropdown__button.dropdown__button_narrow.container.container_justify-content-space-between.container_align-items-center
                    span 2 спальни, 2 кровати...
                    span.dropdown__expand-icon
    else
        if expand
            .dropdown.container.container_direction-column
                h3.h3.dropdown__sign dropdown
                button.dropdown__button.dropdown__button_open.container.container_justify-content-space-between.container_align-items-center
                    span Сколько гостей
                    span.dropdown__expand-icon
                include ./__expand-list/dropdown__expand-list.pug
        else
            .dropdown.container.container_direction-column
                .container.container_justify-content-space-between
                    h3.h3.dropdown__sign dropdown
                    h3.h3.dropdown__sign.dropdown__sign_bright default
                button.dropdown__button.container.container_justify-content-space-between.container_align-items-center
                    span Сколько гостей
                    span.dropdown__expand-icon
