mixin dropdown(params)
    - let {narrow = false, expand = false} = params
    if narrow
        if expand
            .dropdown.dropdown_narrow.container.container_direction-column
                h3.h3.dropdown__sign dropdown
                button.dropdown__button.dropdown__button_narrow.container.container_justify-content-space-between.container_align-items-center
                    span 2 спальни, 2 кровати...
                    img.dropdown__expand-icon(src=path + "library.blocks/dropdown/__expand-icon/expand-icon.svg", alt="")
                include ./__expand-list/_narrow/dropdown__expand-list_narrow.pug
        else
            .dropdown.dropdown_narrow.container.container_direction-column
                h3.h3.dropdown__sign dropdown
                button.dropdown__button.dropdown__button_narrow.container.container_justify-content-space-between.container_align-items-center
                    span 2 спальни, 2 кровати...
                    img.dropdown__expand-icon(src=path + "library.blocks/dropdown/__expand-icon/expand-icon.svg", alt="")
    else
        if expand
            .dropdown.container.container_direction-column
                h3.h3.dropdown__sign dropdown
                button.dropdown__button.container.container_justify-content-space-between.container_align-items-center
                    span Сколько гостей
                    img.dropdown__expand-icon(src=path + "library.blocks/dropdown/__expand-icon/expand-icon.svg", alt="")
                include ./__expand-list/dropdown__expand-list.pug
        else
            .dropdown.container.container_direction-column
                h3.h3.dropdown__sign dropdown
                button.dropdown__button.container.container_justify-content-space-between.container_align-items-center
                    span Сколько гостей
                    img.dropdown__expand-icon(src=path + "library.blocks/dropdown/__expand-icon/expand-icon.svg", alt="")
