include /check/check
include /svg-expand-icon/svg-expand-icon

mixin check-list(params)
  - 
    const {
      checkParams = [
        { text: 'завтрак' },
        { text: 'письменный стол', attrs: { checked: true } },
        { text: 'Стул для кормления', attrs: { checked: true } },
        { text: 'Кроватка', attrs: { checked: true } },
        { text: 'Телевизор' },
        { text: 'Шампунь' },
      ],
      label = 'дополнительные удобства',
      isOpen
    } = params

  .check-list.js-check-list(class=isOpen && "check-list_open")
    button.check-list__button.js-check-list__button
      span.check-list__button-label #{label}
      span.check-list__button-expand-icon
        +svg-expand-icon()
    .check-list__expand-list
      each params in checkParams
        +check(params)

