mixin roomCard(params)
    - let {} = params
    .room-card
        .room-card__carousel
            .room-card__carousel-container
                .room-card__image
                .room-card__image
                .room-card__image
        button.room-card__prev-button.text-button prev
        button.room-card__next-button.text-button next
        .h1 hallo
        .h1 bye
