@use "@common/room-card/__carousel/room-card__carousel"
@use "@common/room-card/__image/room-card__image"
@use "@common/room-card/__next-button/room-card__next-button"
@use "@common/room-card/__prev-button/room-card__prev-button"

.room-card
  background: white
  -webkit-border-radius: 10px
  -moz-border-radius: 10px
  border-radius: 4px
