mixin roomDetalis(params)
  - const {comfort = true, convenience = true, cosiness = false} = params
  .room-detalis
    if comfort
      include ./room-detalis__comfort
      .room-detalis__hr.hr
    if convenience
      include ./room-detalis__convenience
      .room-detalis__hr.hr
    if cosiness
      include ./room-detalis__cosiness
