.room-detalis__container.container.container_align-items-center
    img.room-detalis__icon(src="../../common.blocks/room-detalis/room-detalis__icon-convenience.svg", alt="comfort")
    .room-detalis__signatures.container.container_direction-column.container_justify-content-space-around
        span.room-detalis__title Удобство
        span.room-detalis__sign Окно в каждой из спален
