section.room-detalis__container.container.container_align-items-center
  span.room-detalis__icon.room-detalis__icon_convenience
  .room-detalis__signatures.container.container_direction-column.container_justify-content-space-around
    span.room-detalis__title Удобство
    span.room-detalis__sign Окно в каждой из спален
