section.room-detalis__container.container.container_align-items-center
  span.room-detalis__icon.room-detalis__icon_comfort
  .room-detalis__signatures.container.container_direction-column.container_justify-content-space-around
    span.room-detalis__title Комфорт
    span.room-detalis__sign Шумопоглощающие стены
