@use '@library/color/base-color' as colors

.header__menu
  display: flex
  align-items: center
  list-style: none

  & > li:first-child > .header__menu-item
    font-family: 'Conv_Montserrat-Bold'
    color: colors.$base-color-75

