.rate
  position: relative
  padding: 0
  width: 120px
  height: 24px
  background-image: url(@library/rate/rate.svg)

  &__input
    position: absolute
    -webkit-appearance: none
    appearance: none

    &:checked

      & ~ .rate__star
        display: none

      & + .rate__star
        display: unset

    &:focus + .rate__star .svg-star__body
      fill: url(#gradient_focus)

  &__star
    display: inline-flex
    width: 24px
    height: 24px

