.rate
  position: relative
  padding: 0
  width: 120px
  height: 24px
  background-image: url(@library/rate/rate.svg)

  &__input
    display: inline-flex
    justify-content: space-between
    width: 24px
    height: 24px
    -webkit-appearance: none
    appearance: none
    background-image: url(@library/rate/rate__star.svg)
    background-position: center center
    background-repeat: no-repeat
    cursor: pointer

    &:checked ~ &
      background: none

