.range-slider.container.container_direction-column
    .container.container_justify-content-space-between
        h3.h3.range-slider__title range slider
        .container
            span.range-slider__price-from 10₽
            | &nbsp;-&nbsp;
            span.range-slider__price-to 15
    .range-slider__container.container.container_align-items-center
        .range-slider__body
            .range-slider__start-range
            .range-slider__end-range
        button.range-slider__button.range-slider__button_start-range
        button.range-slider__button.range-slider__button_end-range
