mixin range(title = 'range slider')
    .range-slider.container.container_direction-column
        .container.container_justify-content-space-between
            h3.h3.range-slider__title #{title}
            .range-slider__price-range.container
                span.range-slider__price.range-slider__price_from 5 000
                span.range-slider__dash &nbsp;-&nbsp;
                span.range-slider__price.range-slider__price_to 10 000
        .range-slider__container.container.container_align-items-center
            .range-slider__body
                .range-slider__start-range
                .range-slider__end-range
            button.range-slider__button.range-slider__button_start-range
            button.range-slider__button.range-slider__button_end-range
