mixin range-slider(bsp = 0, bep = 1)
  .range-slider.js-range-slider(data-bsp=bsp data-bep=bep)
    .range-slider__container.js-range-slider__container
      .range-slider__body.js-range-slider__body
        .range-slider__progress-bar.range-slider__progress-bar_start.js-range-slider__progress-bar_start
        .range-slider__progress-bar.range-slider__progress-bar_end.js-range-slider__progress-bar_end
      button.range-slider__button.range-slider__button_start-range.js-range-slider__button_start-range(aria-label='start range button')
      button.range-slider__button.range-slider__button_end-range.js-range-slider__button_end-range(aria-label='end range button')

