.range-slider.container.container_align-items-center
    .range-slider__body
    button.range-slider__button.range-slider__button_start-range
    button.range-slider__button.range-slider__button_end-range
