@use '__button/range-slider__button'
@use '__body/range-slider__body'
@use '__button/range-slider__button_start-range'
@use '__button/range-slider__button_end-range'

.range-slider
  position: relative
  background: snow
  width: 200px
  height: 1rem
  border: 1px solid tomato
  box-sizing: border-box
