@import '@styles/vars/colors'

.radio
  display: inline-flex
  align-items: center
  column-gap: 10px
  cursor: pointer

  &__btn
    position: absolute
    -webkit-appearance: none
    appearance: none

    &:focus
      
      & + .radio__box
        border-color: $color-additional-fg

    &:checked
      
      & + .radio__box
        border-color: $color-primary

        &::before
          background: $gradient-primary

      & ~ .radio__sign
        color: $color-main-fg

      &:focus

        & + .radio__box
          
          &::before
            background: $gradient-not-so-faded

  &__box
    display: inline-flex
    justify-content: center
    align-items: center
    width: 20px
    height: 20px
    border: 1px solid $color-unclaimed-fg
    border-radius: 50%
    background-color: #fff
    box-sizing: border-box

    &::before
      content: ''
      width: 12px
      height: 12px
      border-radius: 50%
      background: none

  &__sign
    color: $color-additional-fg

