@use '@common/useless/useless'
@import '@common/vars/colors'
@import '@src/pages/layout/layout'
@import '@src/fonts/montserrat-regular/fonts.css'
@import '@src/fonts/montserrat-bold/fonts.css'

body
  padding: 140px 0
  box-sizing: border-box

.fe-main
  margin: 0 auto
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(320px, min-content))
  max-width: 1440px
  column-gap: 100px
  row-gap: 180px
  box-sizing: border-box

.fe-title
  display: flex
  justify-content: space-between
  margin-bottom: 16px

  &_narrow
    width: 266px

  &__topheading
    @include useless.font-bold-type
    color: $color-title-fg

  &__subtitle
    font-size: useless.px2rem(12px)
    text-transform: uppercase
    color: $color-additional-fg

.fe-container
  display: flex
  flex-direction: column

  &_small-indent
    gap: 10px

  &_large-indent
    gap: 20px

  &_horizontal
    flex-direction: row

.group
  display: flex
  flex-direction: column
  row-gap: 40px

  &_huppa
    row-gap: 20px

    & > .fe-container:nth-child(n + 4)
      margin-bottom: 20px

    & > .fe-container:last-child
      margin-bottom: 0

    & .fe-title
      margin-bottom: 5px

  &:last-child
    grid-column-end: span 2

.fe-slider-container
  width: 266px
  display: flex
  flex-wrap: wrap
  justify-content: space-between

.fe-button-container
  width: 100%
  display: flex
  flex-wrap: wrap
  column-gap: 19px
  row-gap: 30px

.fe-button
  width: 99px
  height: 44px

.fe-big-button
  width: 320px
  height: 44px

.fe-pagination
  width: 241px

@media (max-width: 760px)
  .group:last-child
    grid-column-end: auto
  
