extends ../../layout/layout

block vars
  include /head/head.pug
  include /watermark/watermark
  include /text-field/text-field
  include /subscription-text-field/subscription-text-field
  include /dropdown/dropdown
  include /primary-button/primary-button
  include /bordered-button/bordered-button
  include /text-button/text-button
  include /big-button/big-button
  include /cal/cal
  include /date-dropdown/date-dropdown
  include /filter-date-dropdown/filter-date-dropdown
  include /check/check
  include /radio/radio
  include /toggle/toggle
  include /like/like
  include /rate/rate
  include /pagination/pagination
  include /range-slider/range-slider
  include /range-label/range-label
  include /check-list/check-list
  include /rich-check/rich-check
  include /bullet-list/bullet-list
  include /about-room/about-room
  include /comment/comment

  -
    const title = 'fe'

    const narrowDropdownParams = {
      narrow: true,
      sectionNames: ['спальни', 'кровати','ванные комнаты'],
      glossary: 'спальни, кровати, ванные комнаты',
      defaultSignature: 'Выберите удобства',
      counterValues: '2 2 0',
    }

  mixin fe-title(title = '', subTitle, isNarrow)
    .fe-title(class=isNarrow && 'fe-title_narrow')
      span.fe-title__topheading #{title}
      if subTitle
        span.fe-title__subtitle #{subTitle}

block main
  +watermark
  main.fe-main
    article.group.group_huppa
      .fe-container
        +fe-title('text field', 'default')
        +text-field({type: 'email', placeholder: 'Email'})
      .fe-container
        +fe-title('text field', 'hover/focus')
        +text-field({value: 'This is pretty awesome', autofocus: true})
      .fe-container
        +fe-title('dropdown')
        +dropdown({})
      .fe-container
        +fe-title('masked text field')
        +text-field({masked: true})
      .fe-container
        +fe-title('date dropdown')
        +date-dropdown({endMask: '19.08.2019', calAttrs: {hash: 'fecal1'}})
      .fe-container
        +fe-title('filter date dropdown')
        +filter-date-dropdown({
          calAttrs: {
            hash: 'fecal2',
            startDate: '2021-08-19',
            endDate: '2021-08-23'
          }
        })
      .fe-container
        +fe-title('subscription text field')
        +subscription-text-field({placeholder: 'Email'})

    article.group
      .fe-container
        +fe-title('checkbox buttons')
        .fe-container.fe-container_small-indent
          +check({text: 'Можно курить'})
          +check({text: 'Можно с питомцами', attrs: {checked: true}})
          +check({attrs: {checked: true}})
      .fe-container
        +fe-title('radio buttons')
        .fe-container.fe-container_large-indent.fe-container_horizontal
          +radio({attrs: {name: 'sex', checked: true}, text: 'Мужчина'})
          +radio({attrs: {name: 'sex'}, text: 'Женщина'})
      .fe-container
        +fe-title('toggle')
        .fe-container.fe-container_small-indent
          +toggle({attrs: {checked: true}})
          +toggle({})
      .fe-container
        +fe-title('like button')
        .fe-container.fe-container_small-indent.fe-container_horizontal
          +like({value: 2})
          +like({value: 12, pressed: true})
      .fe-container
        +fe-title('rate button')
        .fe-container.fe-container_large-indent.fe-container_horizontal
          +rate({checked: 4})
          +rate({checked: 5})

    article.group
      .fe-slider-container
        +fe-title('range slider')
        +range-label({sliderID: 'feslider', step: 100})
        +range-slider({bsp: 0.333, bep: 0.666, id: 'feslider'})
      .fe-container
        +fe-title('buttons')
        .fe-button-container
          .fe-button
            +primary-button({})
          .fe-button
            +primary-button({attrs: {disabled: true}})
          .fe-button
            +bordered-button({})
          .fe-button
            +bordered-button({attrs: {disabled: true}})
          .fe-container.fe-container_horizontal.fe-container_large-indent
            +text-button({})
            +text-button({attrs: {disabled: true}})
          .fe-big-button
            +big-button({})
      .fe-container
        +fe-title('pagination')
        .fe-pagination
          +pagination()

    article.group.group_huppa
      .fe-container
        +fe-title('dropdown', 'default', true)
        +dropdown(narrowDropdownParams) 
      .fe-container
        +fe-title('dropdown', 'expanded', true)
        +dropdown({...narrowDropdownParams, isOpen: true}) 

    article.group.group_huppa
      .fe-container
        +fe-title('dropdown')
        +dropdown({isOpen: true})

    article.group.group_huppa
      .fe-container
        +fe-title('dropdown')
        +dropdown({isOpen: true, counterValues: '2 1 0'})

    article.group
      .fe-container
        .fe-container.fe-container_large-indent
          +check-list({})
          +check-list({
            checkParams: [
              {text: 'завтрак'},
              {text: 'письменный стол', attrs: {checked: true}},
              {text: 'Стул для кормления', attrs: {checked: true}},
              {text: 'Кроватка', attrs: {checked: true}},
              {text: 'Телевизор'},
              {text: 'Шампунь'},
            ],
            isOpen: true,
          })

    article.group
      .fe-container.fe-container_small-indent
        +fe-title('rich Checkbox Buttons')
        +rich-check({
          title: 'Широкий коридор',
          text: 'Ширина коридоров в номере не менее 91 см.'
        })
        +rich-check({
          title: 'Помощник для инвалидов',
          text: 'На 1 этаже вас встретит специалист и проводит до номера.'
        })

    article.group
      .fe-container
        +fe-title('bullet list')
        +bullet-list({})

    article.group
      .fe-container.fe-container_large-indent
        +about-room('comfort')
        +about-room('convenience')

    article.group
      +comment({})

