@use '@library/html/html'

.calendar_shrink
  width: 266px
  padding-left: 17px
  padding-right: 18px
  box-sizing: border-box

  & .calendar__table
    width: 230px

  & .calendar__day-button
    width: 32px
    height: 32px

  & .calendar__month-name > .h2
    font-size: html.rem-size(17)
