@use '@library/color/base-color' as color

.filter-date-dropdown__button
  padding-left: 15px
  padding-right: 15px
  height: 42px
  background: white
  color: color.$base-color-75
  border: 1px solid color.$base-color-25
  border-radius: 4px
  cursor: pointer
  outline: none

  &:focus
    border: 1px solid color.$base-color-50
