@use '@library/color/base-color' as colors

.button_border
  display: flex
  align-items: center
  justify-content: center
  width: auto
  padding-left: 2px
  padding-right: 2px
  height: 44px
  box-sizing: border-box

.button_border h3
  color: colors.$base-color-purple

.button_border > button
  display: flex
  align-items: center
  justify-content: center
  padding-left: 18px
  padding-right: 18px
  height: 40px
  background: white
  border: none
  border-radius: 22px
  outline: none
  cursor: pointer

.button_border.button_disabled h3
  opacity: .9
