mixin buttonBorder(params)
    - let {disabled = false, sign = 'войти', header = false, action = '#'} = params
    if disabled
        .button.button_border.button_disabled
            button
                h3.h3 #{sign}
    else if header
        form.form(action="signIn.html")
            .button.header__button.button_border
                button
                    h3.h3 #{sign}
    else
        form.form(action=action)
            .button.button_border
                button
                    h3.h3 #{sign}
