@use '@library/color/base-color' as colors

.button_border
  width: 95px
  height: 40px
  margin: 2px
  background: white
  opacity: 1

.button_border h3
  background: linear-gradient(colors.$base-color-purple, #8BA4F9)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  opacity: .5

.button.button_border::before
  content: ''
  display: block
  position: absolute
  left: -2px
  top: -2px
  width: 99px
  height: 44px
  background: linear-gradient(colors.$base-color-purple, #8BA4F9)
  border-radius: 22px
  opacity: .5
  z-index: -1
