include /svg-logo/svg-logo
include /svg-expand-icon/svg-expand-icon
include /bordered-button/bordered-button
include /primary-button/primary-button

mixin expandable-item(params)
  - 
    const {
      text = 'Услуги', 
      href = Array(4).fill('change me'),
      itemTexts = Array(4).fill('heawheahweh')
    } = params

  li.header__menu-expandable-item.js-header__menu-expandable-item
    button.header__menu-button.js-header__menu-button(title=text)
      span.header__menu-button-caption= text
      .header__menu-button-icon
        +svg-expand-icon()
    .header__menu-container
      - for (let i = 0; i < Math.min(href.length, itemTexts.length); i++)
        a.header__menu-link.js-header__menu-link(href=href[i])= itemTexts[i]

mixin header(params) 
  - 
    const {
      href = [],
      itemTexts = []
    } = params

  .header.js-header
    .header__container 
      a.header__logo(href='landing.html' title='toxin home page')
        +svg-logo()
      ul.header__menu
        li.header__menu-item
          a.header__menu-link.header__menu-link_important(
            href='cards.html' title='about us'
          ) О нас
        +expandable-item({href: href[0], itemTexts: itemTexts[0]})
        +expandable-item({href: href[1], itemTexts: ['hihe', 'hihe']})
        li.header__menu-item
          a.header__menu-link(href='change me') Вакансии
        li.header__menu-item
          a.header__menu-link(href='change me') Новости
      .header__sign-in-button
        +bordered-button({text: 'войти'})
      .header__reg-button
        +primary-button({text: 'зарегистрироваться'})

