.calendar.container.container_direction-column
    .calendar__title.container.container_justify-content-space-between
        button.calendar__prev-button prev month
        span.calendar__month-name 
        | , 
        span.calendar__year 2020
        button.calendar__next-button next month
    .calendar__container.container
        table.calendar__table.calendar__table_first
            tr
                th пн
                th вт
                th ср
                th чт
                th пт
                th сб
                th вс
            tr
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
            tr
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
            tr
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
            tr
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
            tr
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
            tr.calendar__last-week
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
        table.calendar__table
            tr
                th пн
                th вт
                th ср
                th чт
                th пт
                th сб
                th вс
            tr
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
            tr
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
            tr
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
            tr
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
            tr
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
            tr.calendar__last-week
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
                td
                    button.calendar__day-button.calendar__day-button_common
    .container.container_direction-row-reverse.container_justify-content-space-between
        button.text-button.calendar__submit-button
            h3.h3 применить
        button.text-button.text-button_cancel.text-button_hidden.calendar__cancel-button
            h3.h3 очистить
