.calendar.container.container_direction-column
    .calendar__title.container.container_justify-content-space-between
        button prev month
        button.calendar__next-button next month
    table.calendar__table
        thead Я календарь
        tr
            th пн
            th вт
            th ср
            th чт
            th пт
            th сб
            th вс
        tr
            td
                button
            td
                button
            td
                button
            td
                button 
            td
                button 
            td
                button 
            td
                button 
        tr
            td
                button 
            td
                button 
            td
                button 
            td
                button 
            td
                button 
            td
                button 
            td
                button 
        tr
            td
                button 
            td
                button 
            td
                button 
            td
                button 
            td
                button 
            td
                button 
            td
                button 
        tr
            td
                button 
            td
                button 
            td
                button 
            td
                button 
            td
                button 
            td
                button 
            td
                button 
        tr
            td
                button 
            td
                button 
            td
                button 
            td
                button 
            td
                button 
            td
                button 
            td
                button 
        tr.calendar__last-week
            td
                button 
            td
                button 
            td
                button 
            td
                button 
            td
                button 
            td
                button 
            td
                button 
