mixin calendar(params)
  - const {shrink = false} = params
  - let shrinkClass = ''
    if shrink
      - shrinkClass = 'calendar_shrink'
    .calendar.container.container_direction-column(class=shrinkClass)
      .calendar__title.container.container_justify-content-space-between
        button.calendar__prev-button.text-button 
          img(src=require("@src/library.blocks/calendar/__prev-button/calendar__prev-button.svg").default, alt="calendar prev button")
        span.calendar__month-name 
          h2.h2
        button.calendar__next-button.text-button
          img(src=require("@src/library.blocks/calendar/__next-button/calendar__next-button.svg").default, alt="calendar next button")
      .calendar__container.container
        table.calendar__table.calendar__table_first
          tr
            th Пн
            th Вт
            th Ср
            th Чт
            th Пт
            th Сб
            th Вс
          tr
            td
              button.calendar__day-button.calendar__day-button_common 1
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
          tr
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
          tr
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
          tr
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
          tr
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
          tr.calendar__last-week
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
        table.calendar__table
          tr
            th Пн
            th Вт
            th Ср
            th Чт
            th Пт
            th Сб
            th Вс
          tr
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
          tr
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
          tr
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
          tr
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
          tr
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
          tr.calendar__last-week
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
            td
              button.calendar__day-button.calendar__day-button_common
      .container.container_direction-row-reverse.container_justify-content-space-between
        button.text-button.calendar__submit-button
          h3.h3 применить
        button.text-button.text-button_cancel.text-button_hidden.calendar__cancel-button
          h3.h3 очистить
