.calendar__table
  width: 280px
  border-width: 0
  border-spacing: 0
  border-collapse: collapse
  transition: all 0.2s

.calendar__table_first
  margin-left: 0

td
  position: relative
  padding: 0
  width: 40px
  background-color: lightblue
  text-align: center

.calendar__last-week
  display: none

.calendar__range
  background: magenta
.calendar__range-start

  &:after
    content: ''
    position: absolute
    right: 0
    display: inline-block
    width: 20px
    height: 100%
    background: magenta

.calendar__range-end

  &:before
    content: ''
    position: absolute
    left: 0
    display: inline-block
    width: 20px
    height: 40px
    background: magenta
