.calendar__table
  width: 280px
  border-width: 0
  border-spacing: 0
  border-collapse: collapse
  transition: all 0.2s

.calendar__table_first
  margin-left: 0

td
  padding: 0
  width: 40px
  background-color: lightblue
  text-align: center

.calendar__last-week
  display: none

.calendar__button
  margin: 0
  width: 40px
  height: 40px
  border-radius: 50%

.calendar__button_another-month
  color: red

.calendar__button_today
  background: tomato
  
