extends ../../layout/layout

append vars
  include /card-sign-in/card-sign-in

  -
    const title = 'Sign in'
    const pageClass = 'sign-in'

block main
  main.sign-in__main
    img.sign-in__main-photo(
      src=require("@assets/img/bgi-3.webp")
      alt="pink room with a beautiful picture"
    )
    img.sign-in__main-photo(
      src=require("@assets/img/bgi-4.webp")
      alt="amazing orange chair plus everything else is gray"
    )

    .sign-in__card-sign-in
      +card-sign-in({
        buttonAttrs: {
          type: 'submint',
          formaction: 'reg.html'
        }
      })

