extends ../../layout/layout

append vars
  include /card-sign-in/card-sign-in

  -
    const title = 'Sign in'

block main
  main.sign-in-main
    img.sign-in-main-photo(
      src=require("../../img/bgi-3.webp")
      alt="pink room with a beautiful picture"
    )
    img.sign-in-main-photo(
      src=require("../../img/bgi-4.webp")
      alt="amazing orange chair plus everything else is gray"
    )

    .sign-in-card-sign-in
      +card-sign-in({
        buttonAttrs: {
          type: 'submint',
          formaction: 'reg.html'
        }
      })

