mixin likeButton(params)
    - let {like = false} = params
    if like
        button.like-button.like-button_like.text-button.container.container_justify-content-space-between.container_align-items-center
            span.like-button__icon 
            span.like-button__counter 12
    else
        button.like-button.text-button.container.container_justify-content-space-between.container_align-items-center
            span.like-button__icon 
            span.like-button__counter 2
