@use '@library/watermark/watermark'
@use '@library/card/card'
@use '@common/card/_primary-parameters/card_primary-parameters'
@use '@common/card/_registration/card_registration'
@use '@common/card/_room-details/card_room-details'
@use '@common/card/_login/card_login'
@use '@library/hr/hr'
@use '@library/radio/radio'
@use '@library/check/check'
@use '@library/toggle/toggle'
@use '@library/rate/rate'
@use '@library/date-dropdown/date-dropdown'
@use '@library/calendar/calendar'
@use '@common/calendar/calendar_card'
@use '@library/dropdown/dropdown'
@use '@common/have-acc/have-acc'
@use '@common/room-card/room-card'

.pages_cards
  margin: 140px auto
  max-width: 1440px
  display: block
  column-gap: 40px
  row-gap: 40px
  background: #F4F4F6
  box-sizing: border-box

.main
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr))
  column-gap: 40px
  row-gap: 40px

  & > *
    row-gap: 40px

  & .room-card
    align-self: flex-start
