@use '@library/watermark/watermark'
@use '@library/card/card'
@use '@common/card/_primary-parameters/card_primary-parameters'
@use '@library/radio/radio'
@use '@library/check/check'
@use '@library/toggle/toggle'
@use '@library/date-dropdown/date-dropdown'
@use '@library/calendar/calendar'
@use '@library/dropdown/dropdown'

.pages_cards
  padding: 140px 200px
  display: grid
  row-gap: 40px
  background: #E5E5E5
