mixin rs({hsp = 0.333, hep = 0.666, id})
  .rs.js-rs(id=id data-hsp=hsp data-hep=hep)
    .rs__container.js-rs__container
      button.rs__handle--start.js-rs__handle--start(tabindex='-1')
      button.rs__handle--end.js-rs__handle--end(tabindex='-1')
      .rs__track
        .rs__progress-bar--start
        .rs__progress-bar--end

