$mainBg: white
$titleFg: #1F2041 
$mainFg: rgba(31, 32, 65, .75)
$additionalFg: rgba(31, 32, 65, .5)
$unclaimedFg: rgba(31, 32, 65, .25)
$primary: #BC9CFF
$secondary: #6FCF97
$primaryGradient: linear-gradient($primary, #8BA4F9)
$secondaryGradient: linear-gradient($secondary, #66D2EA)
