.room-card__prev-button
  position: absolute
  width: 8px
  height: 13px
  top: calc(100% / 2 - 7.5px)
  left: 18px
  background-image: url(@common/room-card/__prev-button/room-card__prev-button.svg)
