include ../svg-expand-icon/svg-expand-icon
include ../cal/cal

mixin date-dropdown-btn(mask, attrs = {}) 
  button&attributes(attrs) 
    .date-dropdown__date-signature.js-date-dropdown__date-signature #{mask}
    .date-dropdown__expand-icon.js-date-dropdown__expand-icon
      +svg-expand-icon

mixin date-dropdown({mask = 'ДД.ММ.ГГГГ', endMask = mask})
  .date-dropdown.js-date-dropdown
    .date-dropdown__btn-container
      +date-dropdown-btn(
        mask, 
        {class: 'date-dropdown__start-btn js-date-dropdown__start-btn'}
      )
      +date-dropdown-btn(
        endMask,
        {class: 'date-dropdown__end-btn js-date-dropdown__end-btn'}
      )
    .date-dropdown__cal-container
      .date-dropdown__cal-wrapper.js-date-dropdown__cal-wrapper
        +cal({startDate: '2021-07-17', endDate: '2021-08-13'})

