.expandable-checkbox-list__expand-icon
  margin-right: 15px
  width: 12px
  height: 8px
  background-image: url(@library/expandable-checkbox-list/__expand-icon/expandable-checkbox-list__expand-icon.svg)
