extends ../../layout/layout

append vars
  include /card-reg/card-reg

  -
    const title = "Registration"

block main
  main.reg-main
    img.reg-main-photo(
      src=require("../../img/bgi-1.webp")
      alt="pink room with a beautiful picture"
    )
    img.reg-main-photo(
      src=require("../../img/bgi-4.webp")
      alt="amazing orange chair plus everything else is gray"
    )

    .reg-card-reg
      +card-reg({
        buttonAttrs: {
          type: 'submit',
          formaction: 'sign-in.html'
        }
      })

