extends ../../layout/layout

append vars
  include /card-reg/card-reg

  -
    const title = 'Registration'
    const pageClass = 'reg'

block main
  main.reg__main
    img.reg__main-photo(
      src=require("../img/background-1.webp")
      alt="pink room with a beautiful picture"
    )
    img.reg__main-photo(
      src=require("../img/background-4.webp")
      alt="amazing orange chair plus everything else is gray"
    )

    .reg__card-reg
      +card-reg({
        buttonAttrs: {
          type: 'submit',
          formaction: 'sign-in.html'
        }
      })

