@use '@styles/useless/useless'
@import '@styles/vars/colors'

.card-room-details
  @include useless.card-common
  @include useless.card-heading

  & > &__container
    gap: 0

  &__heading
    margin-bottom: 24px

  &__dropdown, &__date-dropdown
    display: flex
    flex-direction: column
    row-gap: 5px

  &__date-dropdown
    margin-bottom: 22px

  &__dropdown
    margin-bottom: 21px

  &__date-dropdown-title-container
    display: flex
    column-gap: 20px

    & > .card-room-details__sub-title
      flex-basis: 50%

  &__cost-table
    border-collapse: collapse
    margin-bottom: 32px

    &-row
      height: 35px

  &__service-description
    vertical-align: top
    width: 214px

  &__service-info
    vertical-align: top

  &__service-cost,
  &__service-additional-cost
    text-align: right
    vertical-align: top

  &__total
    display: flex
    column-gap: 4px
    margin-bottom: 20px

    &-caption, &-cost
      @include useless.font-type($size: 19px, $weight: bold, $color: $color-title-fg)
    
    &-dashed-line
      width: 100%
      border-bottom: 1px dotted $color-unclaimed-fg
      height: 80%
      box-sizing: border-box

