@use '@styles/useless/useless'
@import '@styles/vars/colors'

.card-room-details
  @include useless.card-common

  @include useless.card-heading

  &__dropdown, &__date-dropdown
    display: flex
    flex-direction: column
    row-gap: 5px

  &__date-dropdown-title-container
    display: flex
    column-gap: 20px

    & > *
      flex-basis: 50%

  &__cost-table
    border-collapse: separate
    border-spacing: 5px 10px

  &__service-description
    vertical-align: top
    width: 214px

  &__service-info
    vertical-align: top

  &__service-cost, &__service-additional-cost
    text-align: right
    vertical-align: top

  &__total
    margin-top: 10px
    display: flex
    column-gap: 4px

    &-caption, &-cost
      @include useless.font-type($size: 19px, $weight: bold, $color: $color-title-fg)
    
    &-dashed-line
      width: 100%
      border-bottom: 1px dotted $color-unclaimed-fg
      height: 80%
      box-sizing: border-box

  & > &__container > *:last-child
    margin-top: 0

