@use '@styles/useless/useless'
@import '@styles/vars/colors'

.card-reg
  @include useless.card-common

  & > &__container 

    & > .card-reg__container:first-of-type
      margin-bottom: 6px

    & > .card-reg__container:nth-of-type(3)
      gap: 24px
      margin-bottom: 10px

    & > .card-reg__container:last-child
      justify-content: space-between

  &__masked-text-field
    display: flex
    flex-direction: column
    row-gap: 5px

  &__email-container
    display: flex
    flex-direction: column
    row-gap: 5px

