include /date-dropdown/date-dropdown
include /dropdown/dropdown
include /big-button/big-button

mixin card-search-room(params)
  -
    const {
      dateDropdownParams = {},
      dropdownParams = {},
      bigBtnParams = {text: 'подобрать номер'},
    } = params

  .card-search-room
    .card-search-room__container
      h1.card-search-room__title Найдём номера под ваши пожелания
      .card-search-room__date-dropdown
        .card-search-room__date-title-container
          span.card-search-room__date-title прибытие 
          span.card-search-room__date-title выезд
        +date-dropdown(dateDropdownParams)
      .card-search-room__dropdown
        .card-search-room__dropdown-title гости
        +dropdown(dropdownParams)
      form.card-search-room__big-button
        +big-button(bigBtnParams)
