.card_registration
  & > *:first-child
    justify-content: space-between
    row-gap: 20px

    & > *:nth-child(2n) > .text-field
      margin-bottom: 10px

    & .toggle
      margin-bottom: 0

    & > *:last-child
      align-items: flex-end
      margin-top: 8px
