@use 'sass:color'

@use '@styles/useless/useless'
@import '@styles/vars/colors'

.about-room
  display: flex
  flex-direction: column
  row-gap: 17px

  &_icon

    &_comfort 

      & .about-room__icon
        background-image: url(img/comfort-icon.svg)

    &_convenience 

      & .about-room__icon
        background-image: url(img/convenience-icon.svg)

    &_coziness 

      & .about-room__icon
        background-image: url(img/coziness-icon.svg)

  &__container
    display: flex
    column-gap: 10px

  &__sub-container
    align-self: stretch
    display: flex
    flex-direction: column
    justify-content: space-around

  &__icon
    width: 48px
    height: 48px
    background-repeat: no-repeat
    background-position: center center

  &__title
    @include useless.font-type($weight: bold, $color: $color-main-fg)

  &__description
    color: $color-main-fg

  &__separator
    width: 280px
    height: 1px
    background-color: color.adjust($color-title-fg, $alpha: -0.9)

