.dropdown__expand-list.dropdown__expand-list_narrow.container.container_direction-column.container_justify-content-space-between
    .dropdown__expand-items.container.container_justify-content-space-between.container_align-items-center
        h3.h3 спальни
        .container.container_justify-content-space-between.container_align-items-center
            button.dropdown__decrease-button -
            .h3.dropdown__counter.container.container_justify-content-center 2
            button.dropdown__increase-button +
    .dropdown__expand-items.container.container_justify-content-space-between.container_align-items-center
        h3.h3 кровати
        .container.container_justify-content-space-between.container_align-items-center
            button.dropdown__decrease-button -
            .h3.dropdown__counter.container.container_justify-content-center 2
            button.dropdown__increase-button +
    .dropdown__expand-items.container.container_justify-content-space-between.container_align-items-center
        h3.h3 ванные комнаты
        .container.container_justify-content-space-between.container_align-items-center
            button.dropdown__decrease-button.dropdown__decrease-button_disabled -
            .h3.dropdown__counter.container.container_justify-content-center 0
            button.dropdown__increase-button +
