.container
    .container.container_direction-column.color__sign
        h1.h1.color-25 H1 
    .container.container_direction-column.color__sign
        h1.h1
            | This one is the sub-section or
            br
            | widget title
.container
    .container.container_direction-column.color__sign
        h1.h1.color-25 H1 
    .container.container_direction-column.color__sign
        h1.h1
            | This one is the sub-section or
            br
            | widget title
.container
    .container.container_direction-column.color__sign
        h1.h1.color-25 H1 
    .container.container_direction-column.color__sign
        h1.h1
            | This one is the sub-section or
            br
            | widget title
.container
    .container.container_direction-column.color__sign
        h1.h1.color-25 H1 
    .container.container_direction-column.color__sign
        h1.h1
            | This one is the sub-section or
            br
            | widget title
