- const path = '../../'

doctype html
html.html(lang="ru")
    head
        meta(charset="UTF-8")
        title
    body.pages.pages_colors-and-type
        img.watermark(src=path + "library.blocks/watermark/watermark.svg", alt="")
        .container.container_justify-content-space-around.page__container
            .container.container_direction-column
                include ../../library.blocks/color/color.pug
            .container.container_direction-column
                include ../../common.blocks/font-type/font-type.pug
