doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title
    body
        .container
            .container.container_direction-column
                include ../../library.blocks/color/color.pug
            .container.container_direction-column
                h1 hello
                h2 hello
                h1 hello
                h2 hello
