ul.bullet-list
    li.bullet-list__item
        span.bullet-list__content Нельзя с питомцами
    li.bullet-list__item
        span.bullet-list__content Без вечеринок и мероприятий
    li.bullet-list__item
        span.bullet-list__content Время прибытия — после 13:00, 
            | а выезд до 12:00
