.bullet-list
  margin: 0
  padding-left: 18px
  list-style-image: url(@library/bullet-list/bullet-list__icon.svg)

  &__item
    margin-bottom: 12px
    line-height: 23px

    &:last-child
      margin-bottom: 0

  &__content
    max-width: 240px
    color: $color-main-fg
    padding-left: 3px

