@use '@library/html/html'
@use '@library/color/base-color' as colors

.bullet-list
  margin: 0
  padding-left: 1em
  list-style-image: url(@library/bullet-list/bullet-list__icon.svg)

  & > *:last-child
    margin-bottom: 0

.bullet-list__item
  max-width: 249px
  margin-bottom: 12px

.bullet-list__content
  display: flex
  margin-left: 6px
  line-height: 23px
