@use 'sass:color'

@use '@styles/useless/useless'
@import '@styles/vars/colors'

$color-selected-day: color.adjust($color-primary, $alpha: -0.80)

.cal
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  padding: 19px
  width: 320px
  background: $color-main-bg
  border: 1px solid $color-unclaimed-fg
  border-radius: 4px
  box-sizing: border-box

  &_narrow
    padding: 12px
    width: 266px

    & .cal__table-container
      width: 238px

    & .cal__day-btn
      width: 34px
      height: 34px
      font-size: useless.px2rem(10px)

  &__prev-month-btn, &__next-month-btn
    @include useless.button-common-styles
    width: 20px
    height: 20px
    display: flex
    align-items: center
    justify-content: center

    & *
      fill: $color-primary
      opacity: 1

    &:hover *, &:focus *
      fill: $color-focus

  &__prev-month-btn
    transform: rotate(.5turn)

  &__month, &__year
    font-size: useless.px2rem(19px)
    font-weight: bold
    align-self: center

  &__year
    flex-basis: 100%
    text-align: center
    padding-top: 3px

  &__day-week-container
    display: flex
    width: 100%
    justify-content: space-around
    padding-top: 21px

  &__day-week
    color: $color-primary
    font-size: useless.px2rem(12px)
    font-weight: bold
    text-align: center

  &__table-container
    display: flex
    padding-top: 13px
    width: 280px
    overflow: hidden

  &__main-table
    border-collapse: collapse
    transition: all 0.2s
    height: min-content

  &__week
    box-sizing: border-box

  &__day
    position: relative
    padding: 0

    &_selected
      background: $color-selected-day

      & > .cal__day-btn
        background: color.adjust($color-selected-day, $alpha: -1)
        border-radius: 0

        &:hover, &:focus
          background: color.adjust($color-selected-day, $blue: 100)

    &_start-range

      &::after
        content: ''
        position: absolute
        right: 0
        top: 0
        width: 50%
        height: 100%
        background-color: $color-selected-day

    &_end-range

      &::before
        content: ''
        position: absolute
        left: 0
        top: 0
        width: 50%
        height: 100%
        background-color: $color-selected-day

  &__day-btn
    position: relative
    padding: 0
    width: 40px
    height: 40px
    border: none
    background: $color-main-bg
    border-radius: 50%
    font-size: useless.px2rem(12px)
    color: $color-additional-fg
    outline: none
    cursor: pointer
    box-sizing: border-box
    z-index: 1

    &:hover, &:focus
      background: color.adjust($color-main-bg, $red: -17, $green: -17, $blue: -8)

    &_prev-month, &_next-month
      color: $color-unclaimed-fg

    &_todays
      font-weight: bold
      color: $color-main-bg
      background: $gradient-secondary

      &:hover, &:focus
        font-weight: bold
        color: $color-main-bg
        background: $gradient-secondary-focus

    &_selected
      font-weight: bold
      color: $color-main-bg
      background: $gradient-primary

      &:hover, &:focus
        font-weight: bold
        color: $color-main-bg
        background: $gradient-focus

    &:disabled
      cursor: unset

      &:hover, &:focus
        background: $color-main-bg

  &__error
    @include useless.font-bold-type
    flex-basis: 100%
    color: tomato
    height: 14px

