include ../svg-forward-arrow/svg-forward-arrow
include ../text-button/text-button

mixin cal({initDate, startDate, endDate, hash, narrow})
  - 
    const rootAttrs = {
      'data-date': initDate,
      'data-start-date': startDate,
      'data-end-date': endDate,
      'data-date-is-ready': !!(startDate && endDate),
      'data-hash': hash,
      class: narrow && 'cal_narrow'
    }

  .cal.js-cal&attributes(rootAttrs)
    button.cal__prev-month-btn.js-cal__prev-month-btn(type='button')
      +svg-forward-arrow
    .cal__date-container
      span.cal__month.js-cal__month July
      | &nbsp;
      span.cal__year.js-cal__year 1998
    button.cal__next-month-btn.js-cal__next-month-btn(type='button')
      +svg-forward-arrow
    .cal__day-week-container
      each day in ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс']
        span.cal__day-week #{day}
    .cal__table-container.js-cal__table-container
      table.cal__main-table.js-cal__main-table
        - for (let w = 0; w <= 5; w++)
          tr.cal__week
            - for (let i = 0; i < 7; i++)
              td.cal__day
                button.cal__day-btn(type='button')
    .cal__error.js-cal__error Please select range!
    .cal__cancle-btn.js-cal__cancle-btn
      +text-button({text: 'очистить'})
    .cal__apply-btn.js-cal__apply-btn
      +text-button({text: 'применить'})

