@use 'sass:color'

@use '@common/useless/useless'

.cal
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  padding: 19px
  width: 320px
  background: $color-main-bg
  border: 1px solid $color-unclaimed-fg
  border-radius: 4px
  box-sizing: border-box

  &__prev-month-btn, &__next-month-btn
    @include useless.button-common-styles
    width: 20px
    height: 20px
    display: flex
    align-items: center
    justify-content: center

    & > *
      opacity: 1

    &:hover *, &:focus *
      fill: $color-focus

  &__prev-month-btn
    transform: rotate(.5turn)

  &__month, &__year
    font-size: useless.px2rem(19px)
    font-weight: bold
    align-self: center

  &__year
    flex-basis: 100%
    text-align: center

  &__day-week
    width: 40px
    color: $color-primary
    font-size: useless.px2rem(12px)
    font-weight: bold
    text-align: center

  &__table-container
    display: flex
    position: relative
    width: 280px
    // overflow: hidden

    &:first-child

  &__main-table
    border-collapse: collapse
    transition: all 0.2s

  &__week
    box-sizing: border-box

  &__day
    position: relative
    padding: 0

    &_start-range

      &::after
        content: ''
        position: absolute
        right: 0
        display: inlene-block
        width: 50%
        height: 100%
        background-color: lightgreen

  &__day-btn
    position: relative
    padding: 0
    width: 40px
    height: 40px
    border: none
    background: $color-main-bg
    border-radius: 50%
    font-size: useless.px2rem(12px)
    color: $color-additional-fg
    outline: none
    cursor: pointer
    box-sizing: border-box
    z-index: 10

    &:hover, &:focus
      background: color.adjust($color-unclaimed-fg, $alpha: -0.15)

    &_prev-month, &_next-month
      color: $color-unclaimed-fg

    &_todays
      color: $color-main-bg
      background: $gradient-secondary

      &:hover, &:focus
        color: $color-main-bg
        background: $gradient-secondary-focus

    &_selected
      color: $color-main-bg
      background: $gradient-primary

      &:hover, &:focus
        color: $color-main-bg
        background: $gradient-focus

    &[disabled]

      &:hover, &:focus
        background: unset

