-
  function hashIt() {
    return 'rate' + Math.round(Math.random() * 1e3)
  }

mixin rate({ checked = 1, name = hashIt(), attrs, size = 5 })
  label.rate
    - for (let v = 1; v <= size; v++)
      - const isChecked = checked === v
      input.rate__input&attributes({
        type: "radio",
        value: v,
        checked: isChecked,
        name,
        ...attrs
      })

