.rate
  display: block
  position: relative
  padding: 0
  height: 24px
  background-image: url(img/rate.svg)

  &__input
    display: inline-flex
    justify-content: space-between
    width: 24px
    height: 24px
    -webkit-appearance: none
    appearance: none
    background-image: url(img/star.svg)
    background-position: center center
    background-repeat: no-repeat
    cursor: pointer

    &:focus
      outline: 1px dashed black

    &:checked ~ &
      background: none

