@use 'sass:color'

@use '@styles/useless/useless'
@import '@styles/vars/colors'

.color-types
  padding: 150px 0 0

  &__main
    display: flex
    justify-content: space-evenly
    gap: 40px

    &-colors-container
      display: flex
      flex-direction: column
      gap: 20px

  &__color
    display: flex
    gap: 40px

    &-example
      $size: 70px
      width: $size
      height: $size
      background-color: $color-title-fg
      border-radius: 6px

      &_color

        &_dark-shade

          &-100
            background-color: $color-title-fg

          &-75
            background-color: $color-main-fg
            
          &-50
            background-color: $color-additional-fg

          &-25
            background-color: $color-unclaimed-fg

          &-5
            background-color: color.adjust($color-title-fg, $alpha: -0.95)

        &_purple
          background-color: $color-primary

        &_green
          background-color: $color-secondary

    &-container
      display: flex
      flex-direction: column
      justify-content: center
      line-height: 24px

    &-title
      margin: 0
      width: max-content
      @include useless.font-type($size: 19px, $weight: bold, $color: $color-title-fg)

    &-caption
      margin: 0
      font-size: useless.px2rem(19px)

  &__fonts
    display: grid
    grid-template-columns: max-content auto
    column-gap: 30px
    row-gap: 50px
    padding: 10px 0
    line-height: 24px

    &-example
      max-width: 369px
      @include useless.font-type($size: 24px, $weight: bold, $color: $color-title-fg)

      &_type

        &_h2
          font-size: useless.px2rem(19px)

        &_h3
          @include useless.font-bold-type

        &_body
          @include useless.font-type($size: 14px, $weight: normal, $color: $color-main-fg)
          max-width: 310px
        
    &-title
      justify-self: end
      @include useless.font-type($size: 24px, $weight: normal, $color: $color-unclaimed-fg)

      &_type

        &_h2
          font-size: useless.px2rem(19px)

        &_h3
          @include useless.font-type($size: 12px, $transform: uppercase)

        &_body
          font-size: useless.px2rem(14px)
          
