@use 'sass:color'

@use '@styles/useless/useless'
@import '@styles/vars/colors'

.color-types
  padding: 150px 0 0

  &__main
    display: flex
    justify-content: space-evenly
    gap: 40px

    &-colors-container
      display: flex
      flex-direction: column
      gap: 20px

  &__color
    display: flex
    gap: 40px

    &-example
      $size: 70px
      width: $size
      height: $size
      background-color: $color-title-fg
      border-radius: 6px

    &-container
      display: flex
      flex-direction: column
      justify-content: center
      line-height: 24px

    &-title
      margin: 0
      width: max-content
      color: $color-title-fg
      font-size: useless.px2rem(19px)
      font-weight: bold

    &-caption
      margin: 0
      font-size: useless.px2rem(19px)

  &__fonts
    display: grid
    grid-template-columns: max-content auto
    column-gap: 30px
    row-gap: 50px
    padding: 10px 0
    line-height: 24px

    &-example
      max-width: 369px
      font-size: useless.px2rem(24px)
      font-weight: bold
      color: $color-title-fg

      &_h2
        font-size: useless.px2rem(19px)

      &_h3
        @include useless.font-bold-type

      &_body
        font-size: useless.px2rem(14px)
        font-weight: normal
        color: $color-main-fg
        max-width: 310px
        
    &-title
      justify-self: end
      font-size: useless.px2rem(24px)
      font-weight: normal
      color: $color-unclaimed-fg

      &_h2
        font-size: useless.px2rem(19px)

      &_h3
        @include useless.font-bold-type
        font-weight: normal

      &_body
        font-size: useless.px2rem(14px)
        font-weight: normal
        
