mixin bordered-button({ text = "click me", attrs, isFocused = false } = {})
  - focusedMod = 'bordered-button_focused'

  .bordered-button.js-bordered-button(class=isFocused && focusedMod)
    button.bordered-button__button.js-bordered-button__button&attributes(
      Object.assign({ type: "button" }, attrs)
    )= text
      
