@use '@library/color/base-color' as colors
@use '@library/html/html'

.rich-check__title
  padding-top: 2px
  font-family: 'Conv_Montserrat-Bold'
  color: colors.$base-color-75

.rich-check__sign
  padding-left: 0  
