@use '@library/html/html'

.rich-check__title
  font-family: 'Conv_Montserrat-Bold'
  color: colors.$base-color-75

.rich-check__sign
  margin-top: 5px
  font-size: html.rem-size(12)
  padding-left: 30px
