include ../svg-check-box/svg-check-box

mixin rich-check({title, text, attrs})
  label.rich-check
    input.rich-check__input&attributes({...attrs, type: 'checkbox'})
    span.rich-check__box
      +svg-check-box()
    span.rich-check__title #{title}
    span.rich-check__text #{text}

