mixin richCheck(params)
    - let {title = '', sign = ''} = params
    label.check.rich-check
        .container.container_align-items-center
            input.check__input(type="checkbox")
            span.check__box
            span.rich-check__title.container.container_align-items-center #{title}
        span.check__sign.rich-check__sign.container #{sign}
