.font-type.container
    .container.container_justify-content-flex-end.font-type__symbol
        h1.h1.font.font_montserrat-r.color-25 H1 
    .container.font-type__example
        h1.h1
            | This one is the sub-section or
            br
            | widget title
.font-type.container
    .container.container_justify-content-flex-end.font-type__symbol
        h2.h2.font.font_montserrat-r.color-25 H2 
    .container.font-type__example
        h2.h2
            | Next one is the item title inside
            br
            | widgets
.font-type.container
    .container.container_justify-content-flex-end.font-type__symbol
        h3.h3.font.font_montserrat-r.color-25 H3 
    .container.container_justify-content-flex-start.font-type__example
        h3.h3
            | This is a label or CTA text
.font-type.container
    .container.container_justify-content-flex-end.font-type__symbol
        p.p.color-25 body 
    .container.font-type__example
        p.p
            | This is the body text which is used for most
            br
            | of the design, like paragraphs, lists, etc.
