@use '@library/watermark/watermark'
@use '@library/sub-text-field/sub-text-field'
@use '@common/header/header'
@use '@common/footer/footer'

.pages_headers-and-footers
  margin: 140px 0
  flex-direction: column
  row-gap: 40px
  background: #E5E5E5
