.container.container_direction-column.text-field
    .container.container_justify-content-space-between
        h3.h3.text-field__sign hello
        h3.h3.text-field__sign.color-50 sasha
    .container
        input.text-field__input(type="text" placeholder="Mail")
