.text-field
  font-size: px2rem(14)
  padding: 13px 15px
  max-width: 320px
  height: 44px
  color: $mainFg
  border: 1px solid $unclaimedFg
  border-radius: 4px
  outline: none

  &:focus, &:hover
    border: 1px solid $additionalFg

::-webkit-input-placeholder
  color: $unclaimedFg
