mixin text-field(params)
  -
    const {
      type = 'text',
      placeholder = false,
      value = false,
      autofocus = false
    } = params

  input.text-field(
    type=type 
    placeholder=placeholder 
    value=value
    autofocus=autofocus
  )
