mixin textFiled(params)
    - let {example = false, hover = false, masked = false} = params
    .container.container_direction-column.text-field
        .text-field__sign-container.container.container_justify-content-space-between
            if masked
                h3.h3.text-field__sign masked text field
            else
                h3.h3.text-field__sign text field
            if example
                h3.h3.text-field__sign.color-50.font.font_montserrat-r #{example}
        if hover
            input.input.input_hover(type="text" placeholder="Email" value="This is pretty awesome") 
        else if masked
            input.input(type="text" placeholder="ДД.ММ.ГГ") 
        else
            input.input(type="text" placeholder="Email") 
