@use '@library/color/base-color' as colors

.header__menu-item_expandable
  cursor: pointer

  &:after
    content: ''
    display: inline-block
    margin-left: 8px
    width: 12px
    height: 8px
    background-image: url(@common/header/__menu-item/header__menu-item_expandable.svg)

  &:hover + .header__expandable-content
    display: flex

.header__expandable-content
  display: none
  position: absolute
  background: white

  &:hover
    display: flex

  & a
    padding: 1em .4em
    color: colors.$base-color-50
    text-decoration: none
