mixin itemExpandable(params)
  - const {title = 'Услуги', number = 3, items = []} = params
  .header__menu-item.header__menu-item_expandable
    | #{title}
  ul.header__expandable-content
    - for (let i = 1; i <= number; i++)
      li
        a(href="change me") Item of list #{i}

