.header__menu-item_expandable
  cursor: pointer

  &:after
    content: ''
    display: inline-block
    margin-left: 8px
    width: 12px
    height: 8px
    background-image: url(@common/header/__menu-item/header__menu-item_expandable.svg)

  &:hover + .header__expandable-content
    display: initial

.header__expandable-content
  display: none
  position: absolute
  padding: 0
  background: white
  box-shadow: 0 10px 20px 0 rgba(31, 32, 65, .05)
  z-index: 10
  list-style-type: none

  &:hover
    display: initial

  & li
      padding: .6em .4em

  & a
    text-decoration: none
