@use '@library/color/base-color' as color

.date-dropdown__button
  padding-left: 15px
  padding-right: 15px
  width: 150px
  height: 44px
  background: white
  color: color.$base-color-75
  border: 1px solid color.$base-color-25
  border-radius: 4px
  cursor: pointer
  outline: none
  box-sizing: border-box

  &:focus
    border: 1px solid color.$base-color-50
