@use 'sass:color'

@import '@styles/vars/colors'

.comment
  display: grid
  grid-template-columns: min-content auto
  row-gap: 9px
  column-gap: 10px

  &__avatar-container
    $avatar-size: 48px
    width: $avatar-size
    height: $avatar-size
    border: 2px solid white
    border-radius: 50%
    box-shadow: 0 10px 20px 0 color.adjust($color-title-fg, $alpha: -0.9)
    overflow: hidden
    box-sizing: border-box

  &__avatar
    object-fit: cover
    width: 110%

  &__container
    display: flex
    flex-direction: column
    justify-content: center
    line-height: 24px

  &__name
    font-weight: bold
    color: $color-title-fg

  &__last-visited
    color: $color-main-fg

  &__like
    display: flex
    justify-content: center

  &__text
    max-width: 653px
    line-height: 24px
    color: $color-main-fg

