@use '@library/color/base-color' as colors

$container-width: 266px
$button-width: 16px
$shift: calc(#{$container-width / 3 - $button-width / 2})

.range-slider__body
  position: relative
  width: 100%
  height: 6px
  background: linear-gradient(colors.$base-color-green, #66D2EA)
  border-radius: 3px

.range-slider__start-range
  position: absolute
  left: 0
  height: 100%
  background: white
  box-sizing: border-box
  border: 1px solid colors.$base-color-25
  border-radius: 3px

.range-slider__end-range
  position: absolute
  right: 0
  height: 100%
  background: white
  box-sizing: border-box
  border: 1px solid colors.$base-color-25
  border-radius: 3px

.range-slider__button
  position: absolute
  padding: 0
  width: $button-width
  height: $button-width
  background: linear-gradient(colors.$base-color-green, #66D2EA)
  border: 2px solid white
  border-radius: 50%
  outline: none

.range-slider__button_start-range
  left: 0

.range-slider__button_end-range
  right: 0
