@use 'sass:color'

@use '@styles/useless/useless'
@import '@styles/vars/colors'

.comment
  display: grid
  grid-template-columns: min-content auto
  row-gap: 9px
  column-gap: 10px

  &__avatar-container
    $avatar-size: 48px
    display: flex
    align-items: center
    width: $avatar-size
    height: $avatar-size
    border: 2px solid white
    border-radius: 50%
    box-shadow: 0 10px 20px 0 color.adjust($color-title-fg, $alpha: -0.9)
    overflow: hidden
    box-sizing: border-box

  &__avatar
    width: 48px
    height: 48px
    transform: scale(1.1)

  &__container
    display: flex
    flex-direction: column
    justify-content: center
    line-height: 24px

  &__name
    @include useless.font-type($weight: bold, $color: $color-title-fg)

  &__last-visit
    color: $color-main-fg

  &__like
    display: flex
    justify-content: center
    padding-top: 3px

  &__text
    max-width: 653px
    line-height: 24px
    color: $color-main-fg

