extends ../../layout/layout

append vars
  - isUikit = true

block main
  ul
    li
      h2 ui-kit:
    li
      a(href="colors-types.html") colors & types
    li 
      a(href="form-elements.html" title="hihefe") form elements
    li 
      a(href="cards.html") cards
    li
      a(href="headers-footers.html") headers & footers

    li
      h2 pages: 
    li
      a(href="landing.html") landing
    li
      a(href="search-room.html") search room
    li
      a(href="room-details.html") room details
    li
      a(href="reg.html") registration
    li
      a(href="sign-in.html") sign in 

