include /svg-forward-arrow/svg-forward-arrow

mixin subscription-text-field(inputAttr, buttonAttr)
  .subscription-text-field.js-subscription-text-field
    input.subscription-text-field__input.js-subscription-text-field__input&attributes(inputAttr)
    button.subscription-text-field__button.js-subscription-text-field__button&attributes(buttonAttr)
      span.subscription-text-field__arrow-icon
        +svg-forward-arrow()

