@use '@library/color/base-color' as colors
@use '@library/sub-text-field/sub-text-field'
@use '@common/header/header'
@use '@common/header/header__media'
@use '@common/footer/footer'
@use '@library/card/card'
@use '@common/card/_primary-parameters/card_primary-parameters'
@use '@library/date-dropdown/date-dropdown'
@use '@library/dropdown/dropdown'
@use '@library/calendar/calendar'
@use '@library/calendar/__open/calendar__open'

.pages__landing
  display: flex
  flex-direction: column
  min-width: 380px

.main
  position: relative
  display: flex
  flex-direction: column
  flex-grow: 1
  width: 100%
  min-height: 900px
  background-repeat: no-repeat
  background-size: cover
  background-position: center center
  background-attachment: scroll
  box-sizing: border-box

.main__img-container
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-repeat: no-repeat
  background-size: cover
  background-position: center center
  background-attachment: scroll
  box-sizing: border-box
  z-index: -1
  animation-duration: 30s
  animation-name: hideBg
  animation-iteration-count: infinite

.main__img-container_1
  background-image: url(@src/page/landing/image-1.png)
  animation-delay: 20s

.main__img-container_2
  background-image: url(@src/page/landing/image-2.png)
  animation-delay: 10s

.main__img-container_3
  background-image: url(@src/page/landing/image-3.png)

@keyframes hideBg
  0%
    opacity: 1
  15%
    opacity: 1
  30%
    opacity: 0
  85%
    opacity: 0
  100%
    opacity: 1

.main__content
  display: flex
  flex-direction: column
  align-self: center
  justify-content: space-between
  flex-grow: 1
  padding: 70px 1rem 18px
  width: min(1440px, 100%)
  box-sizing: border-box

.main__sign
  display: flex
  align-self: flex-end
  text-align: right
  color: colors.$base-color-75

@media screen and (max-width: 400px)
  .main__content
    align-items: center
    padding-right: 0
    padding-left: 0

  .main__sign
    margin-right: 2em
