include ../svg-forward-arrow/svg-forward-arrow

mixin pagination(current, last = 15)
  .pagination
    - for (let i = current; i < current + 3; i++)
      a(href="change me").pagination__item(
        class= i === current && 'pagination__item_active'
      ) #{i}
    | ...
    a(href="change me").pagination__item #{last}
    button.pagination__next-item 
      +svg-forward-arrow()
    span.pagination__sign 1 – 12 из 100+ вариантов аренды

