mixin pagination()
  .pagination.container.container_direction-column
    .container.container_align-items-center.container_justify-content-space-between
      a.container.pagination__link.pagination__link_current(href='change me') 1
      a.container.pagination__link(href='change me') 2
      a.container.pagination__link(href='change me') 3
      span.pagination__three-dots ...
      a.container.pagination__link.pagination__last-page(href='change me') 15
      form(action='change me')
        button.pagination__next-button.text-button.container.container_align-items-center.container_justify-content-center(aria-label='the next page of the rooms we have selected for you')
          span.pagination__arrow
    .container.pagination__description
      span 1 – 12 из 100+ вариантов аренды
