mixin check(params)
    - let {sign = 'check', checked = false} = params
    label.check.container
        if checked
            input.check__input(type="checkbox" checked)
        else
            input.check__input(type="checkbox")
        span.check__box
        span.check__sign.container.container_align-items-center #{sign}
