include ../svg-check-box/svg-check-box

mixin check({attrs, text = 'Можно пригласить гостей (до 10 человек)'})
  label.check
    input.check__input&attributes(attrs)(type='checkbox')
    .check__box
      +svg-check-box()
    span.check__sign #{text[0].toUpperCase() + text.slice(1)}

