@use '@styles/useless/useless'
@import '@styles/vars/colors'

.primary-button
  @include useless.button-common-styles
  @include useless.font-bold-type
  width: 100%
  height: 100%
  background: $gradient-primary
  color: $color-main-bg
  border-radius: 22px

  &:hover, &:focus, &_focused
    background: $gradient-focus

