mixin primary-button({text = 'click me', attrs, isFocused = false} = {})
  - const focusedMod = 'primary-button_focused'

  button.primary-button&attributes(
    Object.assign({ type: "button" }, attrs)
  )(
    class=isFocused && focusedMod
  )= text

