@use 'sass:color'

@use '@common/useless/useless'

.primary-button
  @include useless.button-common-styles
  @include useless.font-bold-type
  width: 100%
  height: 100%
  background: $gradient-primary
  color: $color-main-bg
  border-radius: 22px

  &:disabled
    opacity: .4
    pointer-events: none

    &:hover, &:focus
      opacity: .4

  &:hover, &:focus
    background: $gradient-focus

