@use 'sass:color'

@use '@styles/useless/useless'
@import '@styles/vars/colors'

.text-button
  @include useless.button-common-styles
  @include useless.font-bold-type
  background: none
  color: $color-primary

  &:hover, &:focus
    color: $color-focus

  &:disabled
    color: $color-additional-fg
    pointer-events: none

    &:hover, &:focus
      color: initial

