@use 'sass:color'

@use '@common/useless/useless'

$color-disabled-fg: $color-additional-fg

.text-button
  @include useless.button-common-styles
  @include useless.font-bold-type
  background: none
  color: $color-primary

  &:hover, &:focus
    color: color.adjust($color-primary, $red: 40)

  &_disabled
    color: $color-disabled-fg
    pointer-events: none

    &:hover, &:focus
      color: $color-disabled-fg

