mixin bigButton(sign = 'перейти к оплате')
    button.button.button_big.container.container_align-items-center.container_justify-content-space-between
        h3.h3.button__sign #{sign}
        span.button__arrow
