.button_big
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  opacity: 1

.button__sign
  padding-left: 18px
  flex-grow: 1

.button__arrow
  width: 18px
  height: 18px
  right: 13px
  background: no-repeat center url(@library/button/button__arrow.svg)
