.button_big
  width: auto
  position: relative
  opacity: 1

.button__sign
  flex-grow: 1

.button__arrow
  position: absolute
  width: 18px
  height: 18px
  right: 13px
  background: no-repeat center url(@library/button/button__arrow.svg)
