@import '@styles/vars/colors'

.check
  max-width: 222px
  line-height: 18px

  &__label
    display: inline-flex
    column-gap: 10px
    cursor: pointer
  
  &__input
    position: absolute
    -webkit-appearance: none
    appearance: none

    &:focus + .check__box 

      & .svg-check-box__square
        stroke: url(#check-box__square-gradient-focus)

      & .svg-check-box__mark
        fill: url(#check-box__square-gradient-focus)

    &:not(.check__input:checked) 
      
      & + .check__box
      
        & .svg-check-box__square
          stroke: $color-unclaimed-fg

        & .svg-check-box__mark
          fill: none

      &:focus 

        & + .check__box

          & .svg-check-box__square
            stroke: $color-additional-fg

    &:disabled
      
      & ~ .check__sign
        color: $color-unclaimed-fg

      & + .check__box
        
        & .svg-check-box__square
          stroke: #bfbfbf

        & .svg-check-box__mark
          fill: #ccc

      &:not(.check__input:checked)

        & + .check__box

          & .svg-check-box__square
            stroke: #bfbfbf

  &__box
    height: 20px

  &__sign
    align-self: center
    color: $color-additional-fg

