.room-card__next-button
  position: absolute
  width: 8px
  height: 13px
  top: calc(100% / 2 - 7.5px)
  right: 18px
  background-image: url(@common/room-card/__next-button/room-card__next-button.svg)
