mixin roomDetalisCard({onlyButtons = false})
  .card.card_room-details.room.container
    .container.container_direction-column
      .container
        .container
          span.h1.room__number 888
          span.room__luxury-status люкс
        .container
          span.room__price 9 990
          span.room__billing-period в сутки
      +dateDropdown({firstDate: '19.08.2019', secondDate: '23.08.2019', onlyButtons: onlyButtons})
      +dropdown({})
      .room__calculation-table.container.container_direction-column
        table.cost-table
          tr
            td.cost-table__service 9 990₽ х 4 суток
            td.cost-table__info.cost-table__info_hidden
            td.cost-table__price 39 960
          tr.cost-table__service-charge
            td.cost-table__service Сбор за услуги: скидка 2 179₽
            td.cost-table__info.js-cost-table__info.cost-table__info_cost-of-services
              .cost-table__hint info about services cost
            td.cost-table__price 0
          tr.cost-table__service-charge
            td.cost-table__service Сбор за дополнительные услуги
            td.cost-table__info.js-cost-table__info.cost-table__info_cost-of-additional-services
              .cost-table__hint info about additional services cost
            td.cost-table__price 300
        .total.container.container_justify-content-space-between
          h2.h2.total__sign Итого
          .total__filling-block
          h2.h2.total__price 38 081
      +bigButton({sign: 'забронировать'})
