.room-detalis__icon
  width: 40px
  height: 40px
  padding-right: 14px
  background-image: url(@common/room-detalis/__icon/room-detalis__icon_comfort.svg)
  background-repeat: no-repeat
  background-position: left

.room-detalis__icon_cosiness
  background-image: url(@common/room-detalis/__icon/room-detalis__icon_cosiness.svg)

.room-detalis__icon_convenience
  background-image: url(@common/room-detalis/__icon/room-detalis__icon_convenience.svg)
  
