.room-card__image
  width: 271px
  height: 100%
  background-repeat: no-repeat
  background-size: cover
  background-position: center center
  background-attachment: scroll

.room-card__image_1
  background-image: url(@common/room-card/__image/room-card__image_1.webp)

.room-card__image_2
  background-image: url(@common/room-card/__image/room-card__image_2.webp)

.room-card__image_3
  background-image: url(@common/room-card/__image/room-card__image_3.webp)

.room-card__image_4
  background-image: url(@common/room-card/__image/room-card__image_4.webp)

.room-card__image_5
  background-image: url(@common/room-card/__image/room-card__image_5.webp)

.room-card__image_6
  background-image: url(@common/room-card/__image/room-card__image_6.webp)

.room-card__image_7
  background-image: url(@common/room-card/__image/room-card__image_7.webp)

.room-card__image_8
  background-image: url(@common/room-card/__image/room-card__image_8.webp)

.room-card__image_9
  background-image: url(@common/room-card/__image/room-card__image_9.webp)

.room-card__image_10
  background-image: url(@common/room-card/__image/room-card__image_10.webp)

.room-card__image_11
  background-image: url(@common/room-card/__image/room-card__image_11.webp)

.room-card__image_12
  background-image: url(@common/room-card/__image/room-card__image_12.webp)
