.room-card__image
  width: 271px
  height: 100%
  background-repeat: no-repeat
  background-size: cover
  background-position: center center
  background-attachment: scroll

.room-card__image_1
  background-image: url(@common/room-card/__image/room-card__image_1.png)

.room-card__image_2
  background-image: url(@common/room-card/__image/room-card__image_2.png)

.room-card__image_3
  background-image: url(@common/room-card/__image/room-card__image_3.png)

.room-card__image_4
  background-image: url(@common/room-card/__image/room-card__image_4.png)

.room-card__image_5
  background-image: url(@common/room-card/__image/room-card__image_5.png)

.room-card__image_6
  background-image: url(@common/room-card/__image/room-card__image_6.png)

.room-card__image_7
  background-image: url(@common/room-card/__image/room-card__image_7.png)

.room-card__image_8
  background-image: url(@common/room-card/__image/room-card__image_8.png)

.room-card__image_9
  background-image: url(@common/room-card/__image/room-card__image_9.png)

.room-card__image_10
  background-image: url(@common/room-card/__image/room-card__image_10.png)

.room-card__image_11
  background-image: url(@common/room-card/__image/room-card__image_11.png)

.room-card__image_12
  background-image: url(@common/room-card/__image/room-card__image_12.png)
