@use '@styles/useless/useless'
@import '@styles/vars/colors'

.card-search-room
  @include useless.card-common

  &__container
    gap: 22px

  &__date-dropdown, &__dropdown
    display: flex
    flex-direction: column
    row-gap: 5px

  &__date-title-container
    display: flex
    column-gap: 20px

    & > *
      flex-basis: 50%

