mixin comment(params)
  - const {mod = "murad", author = 'Мурад Сарафанов', commentText = "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.", timeAgo = '5 дней назад', likeButton = 1} = params
  article.comment
    .comment__avatar(class=`comment__avatar_of-${mod}`)
    .container.container_direction-column
      span.comment__author #{author}
      span.comment__time #{timeAgo}
    +likeButton({like: likeButton})
    span.comment__content #{commentText}
