extends ../../layout/layout

append vars
  include /header/header
  include /footer/footer
  include /svg-logo/svg-logo
  include /svg-toxin/svg-toxin
  include /svg-twitter/svg-twitter
  include /svg-facebook/svg-facebook
  include /svg-instagram/svg-instagram

  - 
    const title = 'Headers & Footers'
    const pageClass = 'headers-footers'
    isUikit = true
    const headerContent = [
      {
        text: 'О нас',
        isImportatn: true
      },
      {
        type: 'expandableItem',
      },
      {},
      {
        text: 'Новости',
      },
      {
        type: 'expandableItem',
        text: 'Соглашения',
        itemTexts: Array(4).fill('hieh')
      }
    ]

append main
  .headers-footers__main
    +header({ content: headerContent })
    +header({ content: headerContent, authorized: true })
    +footer({})
    .headers-footers__footer
      .headers-footers__footer-logo
        +svg-logo()
        +svg-toxin()
      p.headers-footers__footer-copyright
        | Copyright © 2018 Toxin отель. Все права зачищены.
      .headers-footers__footer-social
        +svg-twitter()
        +svg-facebook()
        +svg-instagram()

