extends ../../layout/layout

append vars
  include /header/header
  include /footer/footer
  include /svg-logo/svg-logo
  include /svg-toxin/svg-toxin
  include /svg-twitter/svg-twitter
  include /svg-facebook/svg-facebook
  include /svg-instagram/svg-instagram

  - 
    const title = 'Headers & Footers'
    const pageClass = 'headers-footers'
    isUikit = true

append main
  .headers-footers__main
    +header({})
    +header({ authorized: true })
    +footer({})
    .headers-footers__footer
      .headers-footers__footer-logo
        +svg-logo()
        +svg-toxin()
      p.headers-footers__footer-copyright
        | Copyright © 2018 Toxin отель. Все права зачищены.
      .headers-footers__footer-social
        +svg-twitter()
        +svg-facebook()
        +svg-instagram()

