mixin impressions()
    .impressions
        .impressions__circle-container
        .impressions__list
            ul
                li.impressions__list-item.impressions__list-item_amazing Великолепно
                li.impressions__list-item.impressions__list-item_cool Хорошо
                li.impressions__list-item.impressions__list-item_bad Удовлетворительно
                li.impressions__list-item.impressions__list-item_veryBad Разочарован
