@use '@library/html/html'
@use '@library/color/base-color' as colors

.impressions
  display: flex
  align-items: flex-end
  column-gap: 30px

.impressions__circle
  position: relative

.impressions__room-number
  font-family: 'Conv_Montserrat-Bold'
  font-size: html.rem-size(24)

.impressions__room-votes
  font-size: html.rem-size(12)
  font-weight: bold
  
.impressions__list
  height: min-content

  & ul
    margin: 0
    padding: 0

.impressions__list-item
  padding-left: 5px
  padding-bottom: 7px
  color: colors.$base-color-75

  &:last-child
    padding-bottom: 0

.impressions__list-item_amazing
  list-style-image: url(@library/impressions/__list-item/impressions__list-item_amazing.svg)

.impressions__list-item_cool
  list-style-image: url(@library/impressions/__list-item/impressions__list-item_cool.svg)

.impressions__list-item_bad
  list-style-image: url(@library/impressions/__list-item/impressions__list-item_bad.svg)

.impressions__list-item_veryBad
  list-style-image: url(@library/impressions/__list-item/impressions__list-item_veryBad.svg)
