@use '@library/html/html'
@use '@library/color/base-color' as colors

.impressions

.impressions__circle
  position: relative

.impressions__room-number
  font-family: 'Conv_Montserrat-Bold'
  font-size: html.rem-size(24)

.impressions__room-votes
  font-size: html.rem-size(12)
  font-weight: bold
  
