@use '@styles/useless/useless'

.impressions
  display: flex
  align-items: flex-end
  column-gap: 44px

  &__circle
    position: relative

  &__room-number
    font-weight: bold
    font-size: useless.px2rem(24px)

  &__room-votes
    font-weight: bold
    font-size: useless.px2rem(12px)
    text-transform: uppercase
  
  &__list
    height: min-content
    margin: 0
    padding: 0
    padding-bottom: 6px

  &__list-item
    padding-left: 1px
    padding-bottom: 7px

    &:last-child
      padding-bottom: 0

  &__list-item_amazing
    list-style-image: url(__list-item/impressions__list-item_amazing.svg)

  &__list-item_cool
    list-style-image: url(__list-item/impressions__list-item_cool.svg)

  &__list-item_bad
    list-style-image: url(__list-item/impressions__list-item_bad.svg)

  &__list-item_veryBad
    list-style-image: url(__list-item/impressions__list-item_veryBad.svg)

