mixin primaryCard(params)
    - let {bigAction = '#', calendar = true} = params
    .card.card_primary-parameters.container
        h1.h1 Найдём номера под
            br
            | ваши пожелания
        if calendar
            +dateDropdown({})
        else
            +dateDropdown({onlyByttons: true})
        +dropdown({})
        +bigButton({action: bigAction, sign: 'подобрать номер'})
