.card
  width: min(380px, 100%)
  height: min-content
  padding: 40px 0 30px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  border: 1px solid rgba(0, 0, 0, .12)
  border-radius: 3px
  background: white
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, .12)
  box-sizing: border-box
