.card
  width: 380px
  display: flex
  flex-direction: column
  row-gap: 20px
  padding-left: 30px
  padding-right: 30px
  padding-top: 40px
  padding-bottom: 30px
  border: 1px solid rgba(0, 0, 0, .12)
  border-radius: 3px
  background: white
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, .12)
  box-sizing: border-box
