mixin bordered-button({text = 'click me', attrs})
  .bordered-button(
    class= (attrs && attrs.disabled) && 'bordered-button_disabled'
  )
    button.bordered-button__button&attributes(attrs) #{text}
      
