@use '@library/color/base-color' as color

.dropdown__increase-button
  width: 30px
  height: 30px
  color: color.$base-color-50
  border: 1px solid color.$base-color-25
  border-radius: 50%
  background: #ffffff
  outline: none
  cursor: pointer

  &:focus
    border-color: color.$base-color-50
