@use '@library/color/base-color' as color

.sub-text-field__container
  display: flex
  justify-content: center
  align-items: center
  padding-right: 13px
  padding-left: 0
  border: 1px solid color.$base-color-25
  border-radius: 4px

  &:hover
    border: 1px solid color.$base-color-50

  &.input
    padding-top: 0
    padding-bottom: 0
