@use '__check-content/expandable-checkbox-list__check-content'
@use '__expand-icon/expandable-checkbox-list__expand-icon'
@use '__expand-icon/expandable-checkbox-list__expand-icon_open'

.expandable-checkbox-list
  width: 266px
  outline: none
  cursor: pointer

  &:hover .expandable-checkbox-list__check-content
    display: flex

  &:hover .expandable-checkbox-list__expand-icon
    transform: rotate(180deg)
    transition: transform .3s ease-out
