include ../check/check

mixin checkList(params)
    - let {title = 'expandable checkbox list', expand = false} = params
    if expand
        .expandable-checkbox-list.expandable-checkbox-list_open.container.container_direction-column
            .expandable-checkbox-list__button.container.container_justify-content-space-between.container_align-items-center
                h3.h3 expandable checkbox list
                span.expandable-checkbox-list__expand-icon.expandable-checkbox-list__expand-icon_open
            .expandable-checkbox-list__check-content.container.container_direction-column.container_justify-content-space-between
                +check({sign: 'Завтрак'})
                +check({sign: 'Письменный стол', checked: true})
                +check({sign: 'Стул для кормления', checked: true})
                +check({sign: 'Кроватка', checked: true})
                +check({sign: 'Телевизор'})
                +check({sign: 'Шампунь'})
    else
        .expandable-checkbox-list.container.container_direction-column
            .expandable-checkbox-list__button.container.container_justify-content-space-between.container_align-items-center
                h3.h3 #{title}
                span.expandable-checkbox-list__expand-icon
            .expandable-checkbox-list__check-content.container.container_direction-column.container_justify-content-space-between
                +check({sign: 'Завтрак'})
                +check({sign: 'Письменный стол', checked: true})
                +check({sign: 'Стул для кормления', checked: true})
                +check({sign: 'Кроватка', checked: true})
                +check({sign: 'Телевизор'})
                +check({sign: 'Шампунь'})
