
.sub-text-field__button
  width: 18px
  height: 18px
  outline: none
  background: no-repeat center url(@library/sub-text-field/__button/sub-text-field__button.svg)

  &:focus, &:hover
    background: no-repeat center url(@library/sub-text-field/__button/sub-text-field__button_hover.svg)
