extends ../../layout/layout

block vars
  include /watermark/watermark
  include /card-search-room/card-search-room
  include /card-reg/card-reg
  include /card-room-details/card-room-details
  include /card-sign-in/card-sign-in
  include /cal/cal
  include /card-room-preview/card-room-preview

  - 
    const title = 'cards'

block main
  +watermark({})
  +card-search-room({dropdownParams: {hash: 'carddd_021'}})
  +card-reg({})
  +card-room-details({})
  +card-sign-in({})
  +cal({})
  +card-room-preview({}) 

