extends ../../layout/layout

block vars
  include /watermark/watermark
  include /card-search-room/card-search-room
  include /card-reg/card-reg
  include /cal/cal

  - 
    const title = 'cards'

block main
  +watermark({})
  +card-search-room({})
  +card-reg({})
  +cal({})

