html
  background-color: #E5E5E5

body
  padding: 150px 0
  box-sizing: border-box

.c-main
  display: flex
  margin: 0 auto
  flex-wrap: wrap
  gap: 40px
  max-width: 1440px
  box-sizing: border-box

.c-column
  display: flex
  flex-direction: column
  width: min(380px, 100%)
  gap: 40px

  &_narrow
    width: 320px

