.calendar.container.container_direction-column
    .calendar__title.container.container_justify-content-space-between
        button.calendar__prev-button.text-button 
            img(src=require("@src/library.blocks/calendar/__prev-button/calendar__prev-button.svg").default, alt="calendar prev button")
        span.calendar__month-name
            h2.h2 Август 2019
        button.calendar__next-button.text-button
            img(src=path + "library.blocks/calendar/__next-button/calendar__next-button.svg", alt="")
    .calendar__container.container
        table.calendar__table.calendar__table_first
            tr
                th Пн
                th Вт
                th Ср
                th Чт
                th Пт
                th Сб
                th Вс
            tr
                td
                    button.calendar__day-button.calendar__day-button_common.calendar__day-button_prev-month 29
                td
                    button.calendar__day-button.calendar__day-button_common.calendar__day-button_prev-month 30
                td
                    button.calendar__day-button.calendar__day-button_common.calendar__day-button_prev-month 31
                td
                    button.calendar__day-button.calendar__day-button_common 1
                td
                    button.calendar__day-button.calendar__day-button_common 2
                td
                    button.calendar__day-button.calendar__day-button_common 3
                td
                    button.calendar__day-button.calendar__day-button_common 4
            tr
                td
                    button.calendar__day-button.calendar__day-button_common 5
                td
                    button.calendar__day-button.calendar__day-button_common 6
                td
                    button.calendar__day-button.calendar__day-button_common 7
                td
                    button.calendar__day-button.calendar__day-button_common.calendar__day-button_today 8
                td
                    button.calendar__day-button.calendar__day-button_common 9
                td
                    button.calendar__day-button.calendar__day-button_common 10
                td
                    button.calendar__day-button.calendar__day-button_common 11
            tr
                td
                    button.calendar__day-button.calendar__day-button_common 12
                td
                    button.calendar__day-button.calendar__day-button_common 13
                td
                    button.calendar__day-button.calendar__day-button_common 14
                td
                    button.calendar__day-button.calendar__day-button_common 15
                td
                    button.calendar__day-button.calendar__day-button_common 16
                td
                    button.calendar__day-button.calendar__day-button_common 17
                td
                    button.calendar__day-button.calendar__day-button_common 18
            tr
                td.calendar__range-start
                    button.calendar__day-button.calendar__day-button_common.calendar__day-button_range 19
                td.calendar__range
                    button.calendar__day-button.calendar__day-button_common 20
                td.calendar__range
                    button.calendar__day-button.calendar__day-button_common 21
                td.calendar__range
                    button.calendar__day-button.calendar__day-button_common 22
                td.calendar__range-end
                    button.calendar__day-button.calendar__day-button_common.calendar__day-button_range 23
                td
                    button.calendar__day-button.calendar__day-button_common 24
                td
                    button.calendar__day-button.calendar__day-button_common 25
            tr
                td
                    button.calendar__day-button.calendar__day-button_common 26
                td
                    button.calendar__day-button.calendar__day-button_common 27
                td
                    button.calendar__day-button.calendar__day-button_common 28
                td
                    button.calendar__day-button.calendar__day-button_common 29
                td
                    button.calendar__day-button.calendar__day-button_common 30
                td
                    button.calendar__day-button.calendar__day-button_common 31
                td
                    button.calendar__day-button.calendar__day-button_common.calendar__day-button_next-month 1
    .container.container_direction-row-reverse.container_justify-content-space-between
        button.text-button.calendar__submit-button
            h3.h3 применить
        button.text-button.text-button_cancel.calendar__cancel-button
            h3.h3 очистить
