mixin haveAcc({login = false})
  .have-acc.container.container_justify-content-space-between
    if login
      span.have-acc__sign Нет аккаунта на Toxin?
      +buttonBorder({action: 'registration.html', sign: 'создать'})
    else
      span.have-acc__sign Уже есть аккаунт на Toxin
      +buttonBorder({action: 'signIn.html'})
