include ../../common.blocks/header/__menu-item/header__menu-item_expandable

mixin header(param)
    //- let {width} = param
    .header.container.container_justify-content-space-between.container_align-items-center
        img.logo.header__logo(src=path + "library.blocks/logo/logo.svg", alt="")
        ul.header__menu
            li
                a.header__menu-item(href="#") О нас
            li
                +itemExpandable({})
            li
                a.header__menu-item(href="#") Вакансии
            li
                a.header__menu-item(href="#") Новости
            li
                +itemExpandable({title: ' Соглашения', number: 2})
            li
                +buttonBorder({sign: 'Войти', header: 1})
            li
                +bigButton({sign: 'зарегистрироваться', header: 1})
