@media screen and (max-width: 950px)
  .header__link-logo
    display: flex
    justify-content: center

  .header__menu-button
    display: flex
    align-items: center

  .header .button_big
    display: none

  .header__logo
    width: 40px
    background-image: url(@library/logo/logo_mini.svg)

  .header__menu
    flex-direction: column
    align-items: start
    grid-row: 2
    grid-column: 1 / 4

  .header__menu-js
    display: none
