@use '@common/header/__menu/header__menu'
@use '@common/header/__menu-button/header__menu-button'
@use '@common/header/__menu-item/header__menu-item'
@use '@common/header/__menu-item/header__menu-item_expandable'
@use '@common/header/__button/header__button'
@use '@common/header/__v-line/header__v-line'

.header
  display: flex
  justify-content: center
  width: 100%
  background: white
  box-shadow: 0 10px 20px 0 rgba(31, 32, 65, .05)

.header__container
  display: grid
  grid-template-columns: min-content auto min-content
  column-gap: 20px
  row-gap: .2em
  align-items: center
  align-self: center
  padding: 15px 1rem
  width: min(1440px, 100%)
  box-sizing: border-box

.header__link-logo
  justify-content: flex-start

.header__logo
  width: 106px
  height: 40px
  background-image: url(@library/logo/logo.svg)
  background-repeat: no-repeat

.header__button-container
  flex-shrink: 1
  column-gap: 20px
  justify-content: flex-end

@media screen and (max-width: 1000px)
  .header__link-logo
    display: flex
    justify-content: center

  .header__button-container
    column-gap: 0

  .header .button_big
    display: none

  .header__logo
    width: 40px
    background-image: url(@library/logo/logo_mini.svg)
