- const path = '../../'
include ../../common.blocks/header/header
include ../../common.blocks/footer/footer
include ../../library.blocks/button/_border/button_border
include ../../library.blocks/button/_big/button_big
include ../../library.blocks/sub-text-field/sub-text-field

doctype html
html.html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title
    body.pages.pages_room-details
        +header({})
        main.main
            .gallery
                .gallery__main-image
                .container.container_direction-column
                    .gallery__minor-image
                    .gallery__minor-image
            .svg
        +footer({})
