- const path = '../../'
include ../../common.blocks/header/header
include ../../common.blocks/footer/footer
include ../../common.blocks/gallery/gallery
include ../../common.blocks/room-detalis/room-detalis
include ../../library.blocks/button/_border/button_border
include ../../library.blocks/button/_big/button_big
include ../../library.blocks/calendar/calendar.pug
include ../../library.blocks/date-dropdown/date-dropdown
include ../../library.blocks/dropdown/dropdown
include ../../library.blocks/sub-text-field/sub-text-field
include ../../library.blocks/impressions/impressions
include ../../library.blocks/bullet-list/bullet-list
include ../../common.blocks/card/_room-details/card_room-details
include ../../library.blocks/like-button/like-button
include ../../common.blocks/comment/comment

doctype html
html.html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title
    body.pages.pages_room-details
        +header({})
        main.main
            +gallery()
            .main__content
                .main__container
                    .main__room-details
                        h2.h2 Сведения о номере
                        +roomDetalis({cosiness: 1})
                    .main__impressions
                        h2.h2 Впечатления от номера
                        +impressions()
                    .main__comment
                        .main__comment-container
                            h2.h2 Отзывы посетителей номера
                            span 2 отзыва
                            +comment({})
                            +comment({img: "common.blocks/comment/__avatar/comment__avatar_2.png", author: "Патрисия Стёклышкова", likeButton: 0, timeAgo: 'Неделю назад', commentText: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент'})
                    .main__bullet-list
                        h2.h2 Правила
                        +bulletList()
                    .main__cancel
                        h2.h2 Отмена
                        p.p Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
                .main__card
                    +roomDetalisCard({onlyButtons: false})
        +footer({})
