@use '@library/html/html'

.title
  display: flex
  justify-content: space-between
  margin-bottom: 14px

.title__main-title, .title__sub-title
  font-size: html.rem-size(12)
  text-transform: uppercase
  margin: 0

.title__sub-title
  color: tomato
