mixin toggle({attrs, text = 'Получать спецпредложения'})
  label.toggle
    input.toggle__input&attributes(attrs)(type='checkbox')
    span.toggle__box
      span.toggle__circle
    span.toggle__sign #{text}

