@use '@library/color/base-color' as colors

.toggle__input:checked + .toggle__box
  border-color: colors.$base-color-purple

.toggle__input:checked + .toggle__box:before
  left: calc(100% - 4px - 12px)
  background: linear-gradient(colors.$base-color-purple, #8BA4F9)

.toggle__input:focus:checked + .toggle__box
  box-shadow: 0 0 1px .2px colors.$base-color-purple

.toggle__input:focus + .toggle__box
  box-shadow: 0 0 1px .2px colors.$base-color-25
