include /svg-logo/svg-logo
include /svg-toxin/svg-toxin
include /subscription-text-field/subscription-text-field
include /svg-twitter/svg-twitter
include /svg-facebook/svg-facebook
include /svg-instagram/svg-instagram

mixin footer(params)
  - 
    const {
      lists = [
        {},
        {
          title: 'о нас',
          items: ['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы']
        },
        {
          title: 'Служба поддержки',
          items: ['Соглашения', 'Сообщества', 'Связь с нами']
        },
      ],
      isWithBorders = false
    } = params

  mixin list(params)
    - 
      const {
        title = 'навигация',
        items = ['о нас', 'новости', 'служба поддержки', 'услуги'],
        href = Array(4).fill('change me')
      } = params

    ul.footer__list
      if title
        li.footer__list-item
          h3.footer__list-title= title
      - for (let i = 0; i < items.length; i++)
        li.footer__list-item
          a.footer__list-link(
            href=href[i] || "change me"
            title=items[i]
          )= items[i].slice(0, 1).toUpperCase() + items[i].slice(1)

  footer.footer(class=isWithBorders && "footer_with-borders")
    .footer__container
      .footer__sub-container
        a(href="landing.html" title="home page").footer__logo 
          +svg-logo()
          +svg-toxin()
        p.footer__hype
          | Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»

      each l in lists
        +list(l)

      form.footer__subscription(action="change me")
        h3.footer__subscription-title Подписка
        p.footer__subscription-caption
          | Получайте специальные предложения и новости сервиса
        +subscription-text-field(
          { placeholder: "Email", type: "email", required: true },
          { type: "submit" }
        )

    .footer__copyrating
      .footer__copyrating-container
        .footer__copyrating-caption
          | Copyright © 2018 Toxin отель. Все права зачищены.
        .footer__social
          a.footer__social-twitter(href="https://twitter.com" title="twitter")
            +svg-twitter()
          a.footer__social-facebook(href="https://facebook.com" title="facebook")
            +svg-facebook()
          a.footer__social-instagram(href="https://instagram.com" title="instagram")
            +svg-instagram()

