@use '@styles/useless/useless'
@import '@styles/vars/colors'

.impressions
  display: flex
  align-items: flex-end
  column-gap: 44px

  &__circle
    position: relative

  &__arc
    fill: none
    stroke-width: 4px

    &_score

      &_amazing
        stroke: url(#amazing)

      &_cool
        stroke: url(#cool)

      &_bad
        stroke: url(#bad)

      &_terrible
        stroke: url(#terrible)

    &_selected
      stroke-width: 5px

    &:hover
      stroke-width: 5px

  &__mark
    @include useless.font-type($weight: bold, $size: 24px)
    fill: $color-primary

  &__votes
    @include useless.font-type($weight: bold, $size: 12px, $transform: uppercase)
    fill: $color-primary
  
  &__list
    height: min-content
    margin: 0
    padding: 0
    padding-bottom: 5px

  &__list-item
    padding-left: 1px
    padding-bottom: 8px

    &:last-child
      padding-bottom: 0

    &_score

      &_amazing
        list-style-image: url(img/amazing-item.svg)

      &_cool
        list-style-image: url(img/cool-item.svg)

      &_bad
        list-style-image: url(img/bad-item.svg)

      &_terrible
        list-style-image: url(img/terrible-item.svg)

