@use '@styles/useless/useless'
@import '@styles/vars/colors'

.impressions
  display: flex
  align-items: flex-end
  column-gap: 44px

  &__circle
    position: relative

  &__arc
    fill: none
    stroke-width: 4px

    &_amazing
      stroke: url(#amazing)

    &_cool
      stroke: url(#cool)

    &_bad
      stroke: url(#bad)

    &_very-bad
      stroke: url(#veryBad)

    &_selected
      stroke-width: 5px

    &:hover
      stroke-width: 5px

  &__mark
    @include useless.font-type($weight: bold, $size: 24px)
    fill: $color-primary

  &__votes
    @include useless.font-type($weight: bold, $size: 12px, $transform: uppercase)
    fill: $color-primary
  
  &__list
    height: min-content
    margin: 0
    padding: 0
    padding-bottom: 5px

  &__list-item
    padding-left: 1px
    padding-bottom: 8px

    &:last-child
      padding-bottom: 0

  &__list-item_amazing
    list-style-image: url(__list-item/impressions__list-item_amazing.svg)

  &__list-item_cool
    list-style-image: url(__list-item/impressions__list-item_cool.svg)

  &__list-item_bad
    list-style-image: url(__list-item/impressions__list-item_bad.svg)

  &__list-item_veryBad
    list-style-image: url(__list-item/impressions__list-item_veryBad.svg)

