$base-color-100: rgba(31, 32, 65, 1)
$base-color-75: rgba(31, 32, 65, 0.75)
$base-color-50: rgba(31, 32, 65, 0.50)
$base-color-25: rgba(31, 32, 65, 0.25)
$base-color-5: rgba(31, 32, 65, 0.05)
$base-color-purple: #BC9CFF
$base-color-green: #6FCF97

.color-100
  color: $base-color-100

.color-75
  color: $base-color-75

.color-50
  color: $base-color-50

.color-25
  color: $base-color-25

.color-5
  color: $base-color-5

.color-purple
  color: $base-color-purple

.color-green
  color: $base-color-green
