mixin colorBlock(params)
    .color.container
        .container.container_align-items-center
            - let colorRectangle = 'rectangle_' + params.color
            span.rectangle(class=colorRectangle)
        .container.container_direction-column.color__sign
            h2.h2= params.title
            h2.h2= params.hexColor

+colorBlock( {color: 'color-1', title: 'Darck Shade 100%', hexColor: '#1F2041'} )
+colorBlock( {color: 'color-2', title: 'Darck Shade 75%', hexColor: '#1F2041'} )
+colorBlock( {color: 'color-3', title: 'Darck Shade 50%', hexColor: '#1F2041'} )
+colorBlock( {color: 'color-4', title: 'Darck Shade 25%', hexColor: '#1F2041'} )
+colorBlock( {color: 'color-5', title: 'Darck Shade 5%', hexColor: '#1F2041'} )
+colorBlock( {color: 'color-6', title: 'Purple', hexColor: '#BC9CFF'} )
+colorBlock( {color: 'color-7', title: 'Green', hexColor: '#6FCF97'} )
