mixin colorBlock(params)
    .color.container
        .container.container_align-items-center
            - let colorRectangle = 'rectangle_' + params.color
            span.rectangle(class=colorRectangle)
        .container.container_direction-column.color__sign
            h2.h2= params.title
            h2.h2.font-weight-normal= params.hexColor

+colorBlock( {color: 'color-100', title: 'Dark Shade 100%', hexColor: '#1F2041'} )
+colorBlock( {color: 'color-75', title: 'Dark Shade 75%', hexColor: '#1F2041'} )
+colorBlock( {color: 'color-50', title: 'Dark Shade 50%', hexColor: '#1F2041'} )
+colorBlock( {color: 'color-25', title: 'Dark Shade 25%', hexColor: '#1F2041'} )
+colorBlock( {color: 'color-5', title: 'Dark Shade 5%', hexColor: '#1F2041'} )
+colorBlock( {color: 'color-purple', title: 'Purple', hexColor: '#BC9CFF'} )
+colorBlock( {color: 'color-green', title: 'Green', hexColor: '#6FCF97'} )
