@use 'sass:color'

@use '@styles/useless/useless'
@import '@styles/vars/colors'

.footer
  display: flex
  flex-direction: column
  align-items: center
  background-color: #fff
  box-shadow: 0 10px 20px 0 color.adjust($color-title-fg, $alpha: -0.95)
  box-sizing: border-box

  &__container
    display: grid
    grid-template-columns: repeat(12, 1fr)
    gap: 40px
    padding: 100px 10px
    width: min(1920px, 100%)
    box-sizing: border-box

  &__sub-container
    display: flex
    flex-direction: column
    grid-column: span 3
    gap: 20px

  &__logo
    display: flex
    gap: 12.5px
    align-items: center
    outline: none

    &:hover, &:focus

      & .svg-logo__circle, & .svg-logo__left-petal
        fill: url(#gradient_focus)

      & .svg-logo__right-petal
        fill: url(#secondary_gradient_focus)

  &__hype
    margin: 0
    line-height: 24px
    color: $color-main-fg
    max-width: 260px

  &__list 
    grid-column: span 2
    margin: 0
    padding: 0
    list-style: none

    &-item
      margin-bottom: 22px

    &-title
      @include useless.font-bold-type
      margin: 0
      color: $color-title-fg

    &-link
      color: $color-additional-fg
      text-decoration: none
      outline: none

      &:hover, &:focus
        color: $color-main-fg

  &__subscription
    display: flex
    flex-direction: column
    gap: 20px
    grid-column: span 3

    &-title
      @extend .footer__list-title

    &-caption
      max-width: 260px
      line-height: 24px
      margin: 0
      color: $color-main-fg

  &__copyrating
    width: 100%
    height: 70px
    border-top: 1px solid color.adjust($color-title-fg, $alpha: -0.9)

    &-container
      margin: 0 auto
      display: flex
      align-items: center
      justify-content: space-between
      padding: 0 10px
      width: min(1920px, 100%)
      height: 100%
      box-sizing: border-box

    &-caption
      color: $color-main-fg
      text-align: center
    
  &__social
    display: flex
    gap: 20px

    & > *
      display: flex
      outline: none

      &:hover *, &:focus *
        fill: url(#gradient_focus)

@media (max-width: 1000px)
  .footer
    
    &__container
      display: flex
      justify-content: center
      padding: 120px 0 20px

    &__list, &__subscription, &__hype
      display: none

    &__copyrating
      padding-bottom: 120px
      border-top: none

      &-container
        flex-direction: column
        gap: 25px
        height: auto

