include /rate/rate

mixin card-room-preview(params)
  -
    const {
      formAttrs = {},
      roomNumber = 888,
      isLuxury = true, 
      cost = 9990,
      nReviews = 145,
    } = params

    const formater = new Intl.NumberFormat('ru', {
      style: 'currency',
      currency: 'RUB',
      minimumFractionDigits: 0,
    })

    function format(str) {
      return formater.format(str).replace(/\s(?=.$)/, '')
    }

  form.card-room-preview&attributes(formAttrs)
    .card-room-preview__footer
      .card-room-preview__heading
        span.card-room-preview__room-number.js-card-room-preview__room-number(
          class=isLuxury && 'card-room-preview__room-number_deluxe'
        )= roomNumber
        span.card-room-preview__cost.js-card-room-preview__cost= format(cost)
      .card-room-preview__line
      .card-room-preview__summary
        +rate({checked: 5})
        .card-room-preview__reviews-container
          span.card-room-preview__n-reviews #{nReviews} 
          | &nbsp;
          span.card-room-preview__reviews Отзывов

