@use '@library/color/base-color' as colors

.pagination__link
  width: 40px
  height: 40px
  align-items: center
  justify-content: center
  color: colors.$base-color-50
  text-decoration: none

.pagination__link:visited

.pagination__link:active
  color: inherit
