@use '@styles/useless/useless'
@import '@styles/vars/colors'

.text-button
  @include useless.button-common-styles
  @include useless.font-bold-type
  background: none
  color: $color-primary

  &:hover, &:focus, &_focused
    color: $color-additional-fg

