mixin text-button({text = 'click me', attrs, isFocused = false} = {})
  - const focusedMod = 'text-button_focused'
  
  button.text-button&attributes(
    Object.assign({type: 'button'}, attrs)
  )(
    class=isFocused && focusedMod
  )= text

