@import '@common/vars/colors'
@import '@common/vars/fonts'

@import '@/node_modules/normalize.css'

$size-base-font: 14px

html
  background-color: $color-main-bg
  font-family: $font-main
  font-size: $size-base-font
  scroll-behavior: smooth

