@import '@/node_modules/normalize.css'

@import '@common/vars/colors'
@import '@common/vars/fonts'

$size-base-font: 14px

html
  font-family: $font-main-regular
  font-size: $size-base-font
  scroll-behavior: smooth

