.footer
  padding-left: 140px
  padding-right: 140px
  background: white
  box-shadow: 0 10px 20px 0 rgba(31, 32, 65, .05)

.footer__main-content
  display: grid
  grid-template-columns: repeat(12, 1fr)
  grid-column-gap: 40px
  padding-top: 100px
  padding-bottom: 100px

  & > *:first-child, & > *:nth-child(5)
    grid-column: span 3
    background: lightyellow

  & > *:nth-child(2)
    grid-column: span 2
    background: lightblue

  & > *:nth-child(3)
    grid-column: span 2
    background: lightgreen

  & > *:nth-child(4)
    grid-column: span 2
    background: tomato

.footer__social
  display: flex
  justify-content: space-between
  align-items: center
  height: 70px
