button.dropdown__button.dropdown__button_narrow.container.container_justify-content-space-between.container_align-items-center
  span 2 спальни, 2 кровати...
  img.dropdown__expand-icon(src=require("@library/dropdown/__expand-icon/expand-icon.svg").default, alt="expand icon")
