$base-color-100: #1F2041
$base-color-75: #575870
$base-color-50: #8F8FA0
$base-color-25: #C7C7CF
$base-color-5: #F4F4F5
$base-color-purple: #BC9CFF
$base-color-green: #6FCF97

.color-100
  color: $base-color-100

.color-75
  color: $base-color-75

.color-50
  color: $base-color-50

.color-25
  color: $base-color-25

.color-5
  color: $base-color-5

.color-purple
  color: $base-color-purple

.color-green
  color: $base-color-green
