@use '@library/color/base-colors' as colors

.color
  margin-bottom: 20px

.rectangle
  width: 70px
  height: 70px
  border-radius: 5px
  background: colors.$base-color-100

.rectangle_color-75
  background: colors.$base-color-75

.rectangle_color-50
  background: colors.$base-color-50

.rectangle_color-25
  background: colors.$base-color-25

.rectangle_color-5
  background: colors.$base-color-5

.rectangle_color-purple
  background: colors.$base-color-purple

.rectangle_color-green
  background: colors.$base-color-green

.color__sign
  padding-left: 40px

