mixin gallery()
  .gallery
    img.gallery__main-image(src=require("@common/gallery/gallery__main-image.webp").default, alt="main room")
    .gallery__container
      img.gallery__minor-image.gallery__minor-image_top(src=require("@common/gallery/gallery__minor-image_top.webp").default, alt="another room")
      img.gallery__minor-image.gallery__minor-image_bottom(src=require("@common/gallery/gallery__minor-image_bottom.webp").default, alt="another another room")
