.gallery
  display: grid
  grid-template-columns: 68.125% 1fr
  height: 480px

.gallery__main-image
  background-image: url(@common/gallery/gallery__main-image.png)
  background-repeat: no-repeat
  background-size: cover
  background-position: center center
  background-attachment: scroll

.gallery__minor-image
  flex-basis: 100%
  background-repeat: no-repeat
  background-size: cover
  background-position: center center
  background-attachment: scroll

.gallery__minor-image_top
  background-image: url(@common/gallery/gallery__minor-image_top.png)

.gallery__minor-image_bottom
  background-image: url(@common/gallery/gallery__minor-image_bottom.png)
