mixin gallery()
    .gallery
        .gallery__main-image
        .container.container_direction-column
            .gallery__minor-image.gallery__minor-image_top
            .gallery__minor-image.gallery__minor-image_bottom
