- const path = '../../'
include ../../library.blocks/title/title
include ../../library.blocks/text-field/text-field
include ../../library.blocks/dropdown/dropdown
include ../../library.blocks/radio/radio
include ../../library.blocks/check/check
include ../../library.blocks/rich-check/rich-check
include ../../library.blocks/rate/rate
include ../../library.blocks/toggle/toggle
include ../../library.blocks/like-button/like-button
include ../../common.blocks/checkbox-buttons/checkbox-buttons
include ../../library.blocks/expandable-checkbox-list/expandable-checkbox-list
include ../../common.blocks/comment/comment

doctype html
html.html(lang="ru")
    head
        meta(charset="UTF-8")
        title
    body.page.color-100
        img.watermark(src=path + "library.blocks/watermark/watermark.svg", alt="")
        .page__container.container.container_direction-column.container_align-items-start
            .container.container_justify-content-space-between
                .container.container_direction-column
                    +textFiled({example: 'default'})
                    +textFiled({example: 'hover / focus', hover: true})
                    +dropdown({})
                    +textFiled({example: 'default', masked: true})
                    include ../../library.blocks/date-dropdown/date-dropdown
                    include ../../library.blocks/filter-date-dropdown/filter-date-dropdown
                    include ../../library.blocks/sub-text-field/sub-text-field
                .container.container_direction-column
                    +checkboxButtons({})
                    +radio({})
                    include ../../common.blocks/toggle-button/toggle-button
                    +title('like button')
                    .container
                        +likeButton({})
                        +likeButton({like: true})
                    +title('rate button')
                    .container
                        +rate({checked: '4'})
                        +rate({checked: '5'})
                    +dropdown({expand: true})
                    +title('rich Checkbox Buttons')
                    +richCheck({title: 'Широкий коридор', sign: 'Ширина коридоров в номере не менее 91 см.'})
                    +richCheck({title: 'Помощник для инвалидов', sign: 'На 1 этаже вас встретит специалист  и проводит до номера.'})
                .container.container_direction-column
                    include ../../library.blocks/range-slider/range-slider
                    +title('buttons')
                    .container
                        button.button.button_focus
                            h3.h3 click me
                        button.button
                            h3.h3 click me
                    .container
                        button.button.button_focus.button_border
                            h3.h3 click me
                        button.button.button_border
                            h3.h3 click me
            .container
                .container.container_direction-column
                    +dropdown({narrow: true})
                    +dropdown({narrow: true, expand: true})
                    +dropdown({narrow: true})
                    +checkList({})
                    +checkList({expand: true})
                    include ../../common.blocks/room-detalis/room-detalis
                .container.container_direction-column
                    +comment({})
