include ../../library.blocks/head/head
include ../../library.blocks/watermark/watermark
include ../../library.blocks/text-field/text-field
include ../../library.blocks/subscription-text-field/subscription-text-field
include ../../library.blocks/dropdown/dropdown
include ../../library.blocks/primary-button/primary-button
include ../../library.blocks/bordered-button/bordered-button
include ../../library.blocks/text-button/text-button
include ../../library.blocks/big-button/big-button
include ../../library.blocks/cal/cal
include ../../library.blocks/date-dropdown/date-dropdown
include ../../library.blocks/filter-date-dropdown/filter-date-dropdown
include ../../library.blocks/check/check
include ../../library.blocks/radio/radio
include ../../library.blocks/toggle/toggle
include ../../library.blocks/like/like
include ../../library.blocks/rate/rate

doctype html
html(lang='ru')
  +head({title: 'form elements'})
  body
    +watermark
    article.text-fields
      +rate({checked: 2})
      +rate({name: 'hihe'})
      +like({counterValue: 12})
      +toggle({})
      +radio({attrs: {name: 'sex'}, text: 'hi'})
      +radio({attrs: {name: 'sex'}, text: 'bye'})
      +check({text: 'Можно курить'})
      +check({text: 'Можно с питомцами', attrs: {checked: true}})
      +check({attrs: {checked: true, disabled: true}})
      +check({attrs: {disabled: true}})
      // .dd-sign-container
      //   span.dd-sign date-dropdown
      //   span.dd-sign date-dropdown
      // +date-dropdown({calAttrs: {startDate: '2021-07-13', hash: 'calcal322'}})
      // +dropdown({
      //   sectionNames: ['взрослые', 'дети', 'младенцы'],
      //   counterValues: '0 2 2',
      //   hash: 'drpdwn1'
      // })
      // +dropdown({
      //   sectionNames: ['взрослые', 'дети', 'младенцы'],
      //   hash: 'drpdwn1',
      //   narrow: true
      // })
      // +filter-date-dropdown({})
      // +cal({
      //   initDate: '2019-08-08',
      //   startDate: '2019-8-19',
      //   endDate: '2019-8-23',
      //   narrow: true
      // })
      // +cal({})
      // .button-container
      //   +primary-button({})
      //   +primary-button({attrs: {disabled: true}})
      //   +bordered-button({})
      //   +bordered-button({attrs: {disabled: true}})
      // .text-button-container
      //   +text-button({})
      //   +text-button({attrs: {disabled: true}})
      // .big-button-container
      //   +big-button({})
      // +text-field({type: 'email', placeholder: 'Email'})
      // +text-field({value: 'This is pretty awesome', autofocus: true})
      // +text-field({masked: true})
      // +subscription-text-field({placeholder: 'Email'})

    // article.text-fields
      // +dropdown({
      //   sectionNames: ['спальни', 'кровати', 'ванные комнаты'],
      //   defaultSignature: 'параметры номера',
      //   narrow: true,
      //   glossary: 'спальни, кровати, ванные комнаты',
      //   counterValues: '1, 2, 33'
      // })

