- const path = '../../'

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title
    body.page
        img.watermark(src=path + "library.blocks/watermark/watermark.svg", alt="")
        h1.h1 Hello World
        
