include ../../library.blocks/head/head
include ../../library.blocks/watermark/watermark
include ../../library.blocks/text-field/text-field
include ../../library.blocks/subscription-text-field/subscription-text-field
include ../../library.blocks/dropdown/dropdown
include ../../library.blocks/primary-button/primary-button
include ../../library.blocks/bordered-button/bordered-button
include ../../library.blocks/text-button/text-button
include ../../library.blocks/big-button/big-button
include ../../library.blocks/cal/cal
include ../../library.blocks/date-dropdown/date-dropdown
include ../../library.blocks/filter-date-dropdown/filter-date-dropdown
include ../../library.blocks/check/check
include ../../library.blocks/radio/radio
include ../../library.blocks/toggle/toggle
include ../../library.blocks/like/like
include ../../library.blocks/rate/rate
include ../../library.blocks/pagination/pagination
include ../../library.blocks/range-slider/range-slider
include ../../library.blocks/range-label/range-label

mixin fe-title(title = '', subTitle = '')
  .fe-title
    span.fe-title__topheading #{title}
    span.fe-title__subtitle #{subTitle}

doctype html
html(lang='ru')
  +head({title: 'form elements'})
  body
    +watermark
    article.group.group_first
      +range-label({sliderID: 'feslider', step: 100})
      +range-slider({bsp: 0.33, bep: 0.66, id: 'feslider'})
      .fe-container
        +fe-title('text field', 'default')
        +text-field({type: 'email', placeholder: 'Email'})
      .fe-container
        +fe-title('text field', 'hover/focus')
        +text-field({value: 'This is pretty awesome', autofocus: true})
      .fe-container
        +fe-title('dropdown')
        +dropdown({})
      .fe-container
        +fe-title('masked text field')
        +text-field({masked: true})
      .fe-container
        +fe-title('date dropdown')
        +date-dropdown({endMask: '19.08.2019', calAttrs: {hash: 'fecal1'}})
      .fe-container
        +fe-title('filter date dropdown')
        +filter-date-dropdown({
          calAttrs: {
            hash: 'fecal2',
            startDate: '2021-08-19',
            endDate: '2021-08-23'
          }
        })
      .fe-container
        +fe-title('subscription text field')
        +subscription-text-field({placeholder: 'Email'})

    article.group
      .fe-container
        +fe-title('checkbox buttons')
        .fe-container.fe-container_small-indent
          +check({text: 'Можно курить'})
          +check({text: 'Можно с питомцами', attrs: {checked: true}})
          +check({attrs: {checked: true}})
      .fe-container
        +fe-title('radio buttons')
        .fe-container.fe-container_large-indent.fe-container_horizontal
          +radio({attrs: {name: 'sex', checked: true}, text: 'Мужчина'})
          +radio({attrs: {name: 'sex'}, text: 'Женщина'})
      .fe-container
        +fe-title('toggle')
        .fe-container.fe-container_small-indent
          +toggle({attrs: {checked: true}})
          +toggle({})
      .fe-container
        +fe-title('like button')
        .fe-container.fe-container_small-indent.fe-container_horizontal
          +like({value: 2})
          +like({value: 12, pressed: true})
      .fe-container
        +fe-title('rate button')
        .fe-container.fe-container_large-indent.fe-container_horizontal
          +rate({checked: 4})
          +rate({checked: 5})

    article.group

