- const path = '../../'
include ../../library.blocks/text-field/text-field.pug
include ../../library.blocks/dropdown/dropdown.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        title
    body.page.color-100
        img.watermark(src=path + "library.blocks/watermark/watermark.svg", alt="")
        .container.page__container
            .container.container_direction-column
                +textFiled( {focus: 'anything', example: 'default'} )
                +textFiled( {hover: 'true', example: 'hover/focus'} )
                +dropdown( {} )
                +dropdown( {} )
            .container.container_direction-column
                +dropdown( {} )
                include ../../library.blocks/calendar/calendar.pug
