- const path = '../../'
include ../../library.blocks/text-field/text-field
include ../../library.blocks/dropdown/dropdown
include ../../library.blocks/check/check
include ../../library.blocks/expandable-checkbox-list/expandable-checkbox-list

doctype html
html.html(lang="ru")
    head
        meta(charset="UTF-8")
        title
    body.page.color-100
        img.watermark(src=path + "library.blocks/watermark/watermark.svg", alt="")
        .page__container.container.container_direction-column
            .container
                .container.container_direction-column
                    +textFiled({example: 'default'})
                    +textFiled({example: 'hover / focus', hover: true})
                    +dropdown({})
                    +textFiled({example: 'default', masked: true})
                    include ../../library.blocks/date-dropdown/date-dropdown
                    include ../../library.blocks/filter-date-dropdown/filter-date-dropdown
                    include ../../library.blocks/sub-text-field/sub-text-field
            .container
                .container.container_direction-column
                    +dropdown({narrow: true})
                    +dropdown({narrow: true, expand: true})
                    +dropdown({narrow: true})
                    +checkList({})
                    +checkList({expand: true})
