//fonts
@import '@src/fonts/montserrat-regular/fonts.css'
@import '@src/fonts/montserrat-bold/fonts.css'

@import '@common/common'
@import '@library/watermark/watermark'
@import '@library/text-field/text-field'
@import '@library/subscription-text-field/subscription-text-field'
@import '@library/dropdown/dropdown'
@import '@library/text-button/text-button'
@import '@library/primary-button/primary-button'
@import '@library/bordered-button/bordered-button'
@import '@library/big-button/big-button'
@import '@library/cal/cal'

html
  background: paleturquoise

body
  padding-top: 140px
  display: flex
  flex-wrap: wrap
  gap: 20px
  box-sizing: border-box

.text-fields
  width: 320px
  display: flex
  flex-direction: column
  row-gap: 20px
  box-sizing: border-box

