include ../../library.blocks/head/head
include ../../library.blocks/watermark/watermark
include ../../library.blocks/text-field/text-field
include ../../library.blocks/subscription-text-field/subscription-text-field
include ../../library.blocks/dropdown/dropdown
include ../../library.blocks/primary-button/primary-button
include ../../library.blocks/bordered-button/bordered-button
include ../../library.blocks/big-button/big-button
include ../../library.blocks/cal/cal

doctype html
html(lang='ru')
  +head({title: 'form elements'})
  body
    +watermark
    article.text-fields
      +cal()
      +big-button({})
      +primary-button({})
      +primary-button({attrs: {disabled: true}})
      +bordered-button({})
      +bordered-button({attrs: {disabled: true}})
      +text-field({type: 'email', placeholder: 'Email'})
      +text-field({value: 'This is pretty awesome', autofocus: true})
      +dropdown({sectionNames: ['взрослые', 'дети', 'младенцы']})
      +text-field({masked: true})
      +subscription-text-field({placeholder: 'Email'})

    article.text-fields
      +dropdown({
        sectionNames: ['спальни', 'кровати', 'ванные комнаты'],
        defaultSignature: 'параметры номера',
        narrow: true,
        glossary: 'спальни, кровати, ванные комнаты',
      })

