- const path = '../../'

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title
    body.page
        img.watermark(src=path + "library.blocks/watermark/watermark.svg", alt="")
        .page__container
            .container_direction-column
                include ../../library.blocks/input/input.pug
                include ../../library.blocks/input/input.pug
        
