include ../../library.blocks/head/head
include ../../library.blocks/watermark/watermark
include ../../library.blocks/text-field/text-field
include ../../library.blocks/sub-text-field/sub-text-field
include ../../library.blocks/dropdown/dropdown

doctype html
html(lang='ru')
  +head({title: 'form elements'})
  body
    +watermark
    article.text-fields
      +text-field({type: 'email', placeholder: 'Email'})
      +text-field({value: 'This is pretty awesome', autofocus: true})
      +dropdown({sectionNames: ['взрослые', 'дети', 'младенцы']})
      +text-field({masked: true})
      +sub-text-field({placeholder: 'Email'})

    article.text-fields
      +dropdown({
        sectionNames: ['спальни', 'кровати', 'ванные комнаты'],
        defaultSignature: 'параметры номера',
        narrow: true,
        glossary: 'спальни, кровати, ванные комнаты',
      })

