include ../../library.blocks/title/title
include ../../library.blocks/sub-text-field/sub-text-field
include ../../library.blocks/text-field/text-field
include ../../library.blocks/button/_border/button_border
include ../../library.blocks/button/_big/button_big
include ../../library.blocks/calendar/calendar
include ../../library.blocks/filter-date-dropdown/filter-date-dropdown
include ../../library.blocks/range-slider/range-slider
include ../../library.blocks/date-dropdown/date-dropdown
include ../../library.blocks/dropdown/dropdown
include ../../library.blocks/radio/radio
include ../../library.blocks/check/check
include ../../library.blocks/rich-check/rich-check
include ../../library.blocks/rate/rate
include ../../library.blocks/toggle/toggle
include ../../library.blocks/like-button/like-button
include ../../library.blocks/pagination/pagination
include ../../library.blocks/bullet-list/bullet-list
include ../../common.blocks/room-detalis/room-detalis
include ../../common.blocks/checkbox-buttons/checkbox-buttons
include ../../library.blocks/expandable-checkbox-list/expandable-checkbox-list
include ../../common.blocks/comment/comment

doctype html
html.html(lang="ru")
  head
    meta(charset="UTF-8")
    title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body.pages.pages_formElements
    img.watermark(src=require("@src/library.blocks/watermark/watermark.svg").default, alt="watermark")
    .fe-sub-container.fe-sub-container_first
      .box-1-1.container.container_direction-column
        +textFiled({title: 'text field', subTitle: 'default'})
        +textFiled({title: 'text field', subTitle: 'hover / focus', hover: true})
        +dropdown({onlyButton: 1, sign: 'dropdown', subSign: 'default'})
        +textFiled({title: 'masked text field', subTitle: 'default', masked: true})
        +dateDropdown({firstTitle: 'dropdown', secondTitle: 'dropdown', secondDate: '19.08.2019'})
        +filterDateDropdown({title: 1, onlyButtons: 1})
        +subTextField('subscription text field')
      .box-1-2.container.container_direction-column
        +checkboxButtons({})
        +radio({title: 'radio buttons'})
        include ../../common.blocks/toggle-button/toggle-button
        .container.container_direction-column
          +title('like button')
          .container
            +likeButton({})
            +likeButton({like: true})
        .container.container_direction-column
          +title('rate button')
          .container
            +rate(4)
            +rate(5)
      .box-1-3.container.container_direction-column
        +range()
        .container.container_direction-column
          +title('buttons')
          .container
            button.button
              h3.h3 click me
            button.button.button_disabled
              h3.h3 click me
          .container
            +buttonBorder({sign: 'click me'})
            +buttonBorder({sign: 'click me', disabled: 1})
          .container
            button.text-button
              h3.h3 click me
            button.text-button.text-button_cancel
              h3.h3 click me
          +bigButton({})
          .container.container_direction-column
            +title('pagination')
            +pagination()
      .box-2-1.container.container_direction-column
        +dropdown({narrow: true, onlyButton: 1, sign: 'dropdown', subSign: 'default'})
        +dropdown({narrow: true, sign: 'dropdown', subSign: 'expanded'})
      .box-2-2.container
        +dropdown({sign: 'dropdown'})
      .box-2-3.container
        +dropdown({sign: 'dropdown'})
      .box-3-1.container.container_direction-column
        +checkList({})
        +checkList({expand: true})
      .box-3-2.container.container_direction-column
        +title('rich Checkbox Buttons')
        +richCheck({title: 'Широкий коридор', sign: 'Ширина коридоров в номере не менее 91 см.'})
        +richCheck({title: 'Помощник для инвалидов', sign: 'На 1 этаже вас встретит специалист  и проводит до номера.'})
      .box-3-3.container.container_direction-column
        +title('bullet list')
        +bulletList()
    .fe-sub-container.fe-sub-container_second
      .box-4-1.container
        +roomDetalis({})
      .box-4-2.container
        +comment({})
