@use '@library/html/html'

.input
  font-family: 'Conv_Montserrat-Regular'
  font-size: html.rem-size(14)
  padding: 13px 15px
  width: 100%
  height: 44px
  color: color.$base-color-75
  border: 1px solid color.$base-color-25
  border-radius: 4px
  outline: none
  box-sizing: border-box

  &:focus, &:hover
    border: 1px solid color.$base-color-50

::-webkit-input-placeholder
  color: color.$base-color-25
