@use '@library/color/base-color' as color

.input
  padding: 13px 15px
  height: 16px
  color: color.$base-color-75
  border: 1px solid color.$base-color-25
  border-radius: 4px
  outline: none

  &:focus, &:hover
    border: 1px solid color.$base-color-50

::-webkit-input-placeholder
  color: color.$base-color-25
