.sub-text-field.container.container_direction-column
    h3.h3.sub-text-field__sign subscription text field
    .input.sub-text-field__container.container
        input.sub-text-field__input(type="text" placeholder="Email") 
        button.text-button.sub-text-field__button
