$size-border-radius: 4px

.sub-text-field
  width: min(266px, 100%)
  height: 44px
  display: flex
  justify-content: space-between
  border: 1px solid $color-unclaimed-fg
  border-radius: $size-border-radius
  box-sizing: border-box

  &:hover, &_active
    border: 1px solid $color-additional-fg

  &__input
    width: 100%
    padding: 0
    color: $color-main-fg
    text-indent: 13px
    border: none
    border-radius: $size-border-radius
    outline: none

  &__button
    display: flex
    justify-content: center
    align-items: center
    min-width: 44px
    padding: 0
    border: none
    border-radius: $size-border-radius
    outline: none
    background: $color-main-bg
    cursor: pointer

    &:hover *, &:focus *
      opacity: 1

