$border-radius: 4px

.sub-text-field
  width: min(266px, 100%)
  height: 44px
  display: flex
  justify-content: space-between
  border: 1px solid $unclaimed-fg
  border-radius: $border-radius
  pointer-events: none

  &:hover, &_active
    border: 1px solid $additional-fg

  &__input
    width: 100%
    padding: 0
    color: $main-fg
    text-indent: 13px
    border: none
    border-radius: $border-radius
    outline: none
    pointer-events: auto

  &__button
    width: 44px
    padding: 0
    border: none
    border-radius: $border-radius
    outline: none
    background: $main-bg
    cursor: pointer
    pointer-events: auto

    &:hover *, &:focus *
      opacity: 1

