@use 'sass:color'

@use '@styles/useless/useless'
@import '@styles/vars/colors'

.card-room-preview
  display: flex
  flex-direction: column
  width: 270px
  background-color: white
  border-radius: 4px
  box-shadow: 0 10px 20px 0 color.adjust($color-title-fg, $alpha: -0.95)
  overflow: hidden

  &__wrapper
    @include useless.button-common-styles
    outline: revert
    color: $color-additional-fg

  &__carousel
    position: relative
    width: 270px
    height: 151px
    border-radius: 4px
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0
    white-space: nowrap
    overflow: hidden

    &:hover 

      .card-room-preview__next-button, .card-room-preview__prev-button
        display: block

  &__next-button, &__prev-button
    @include useless.button-common-styles
    outline: revert
    position: absolute
    display: none
    width: 44px
    height: 100%

  &__next-button
    right: 0
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)),

    & > .svg-expand-icon
      transform: rotate(-90deg)

  &__prev-button
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)),

    & > .svg-expand-icon
      transform: rotate(90deg)

  &__radio-container
    display: flex
    column-gap: 3.75px
    position: absolute
    bottom: 15px
    right: 15px

  &__radio-label
    display: flex

  &__radio-input
    position: absolute
    -webkit-appearance: none
    appearance: none

    &:checked

      & + .card-room-preview__radio-box
        background-color: white
        box-shadow: 0 5px 5px 0 color.adjust($color-title-fg, $alpha: -0.7)
        
    &:focus

      & + .card-room-preview__radio-box
        outline: 1px dashed black

  &__radio-box
    $border-size: 1px
    $size: calc(7.5px - 2 * #{$border-size})
    display: inline-block
    width: $size
    height: $size
    border: $border-size solid white
    border-radius: 50%
    cursor: pointer

  &__room-img
    display: inline-block
    width: 270px
    height: 151px
    object-fit: cover
    transition: all .2s

  &__footer
    padding: 20px 20px 18px
    display: flex
    flex-direction: column
    row-gap: 10px

  @include useless.card-heading

  &__room-number
    @include useless.font-type($size: 19px, $weight: bold)

  &__line
    margin-top: 2px
    height: 1px
    background-color: color.adjust($color-title-fg, $alpha: -0.9)

  &__summary
    display: flex
    justify-content: space-between

  &__reviews-container
    display: flex
    justify-content: space-between
    align-items: center

  &__n-reviews
    font-weight: bold

