.room-card__input
  appearance: none
  -moz-appearance: none
  -webkit-appearance: none

.room-card__input-button
  display: inline-block
  position: relative
  margin-left: 3.75px
  width: 7.5px
  height: 7.5px
  border-radius: 50%
  border: 1px solid white
  box-sizing: border-box

.room-card__input:checked + .room-card__input-button
  background: white
