include ../svg-check-box/svg-check-box

mixin rich-check(params)
  - 
    const {
      title = 'Помощник для инвалидов',
      text = 'На 1 этаже вас встретит специалист  и проводит до номера.',
      pre = false,
      attrs,
    } = params

  label.rich-check(class=pre && "rich-check_wrapping")
    input.rich-check__input&attributes({ ...attrs, type: "checkbox" })
    span.rich-check__box
      +svg-check-box()
    span.rich-check__title #{title}
    span.rich-check__text #{text}

