@use '@styles/useless/useless'
@import '@styles/vars/colors'

.rich-check
  display: grid
  grid-template-columns: min-content auto
  align-items: center
  column-gap: 10px
  row-gap: 4px
  width: fit-content
  cursor: pointer

  &__input
    position: absolute
    -webkit-appearance: none
    appearance: none

    &:focus + .rich-check__box

      & .svg-check-box__square
        stroke: url(#check-box__square-gradient-focus)

      & .svg-check-box__mark
        fill: url(#check-box__square-gradient-focus)

    &:not(.rich-check__input:checked) 
      
      & + .rich-check__box
      
        & .svg-check-box__square
          stroke: $color-unclaimed-fg

        & .svg-check-box__mark
          fill: none

      &:focus 

        & + .rich-check__box

          & .svg-check-box__square
            stroke: $color-additional-fg

    &:disabled
      
      & ~ .rich-check__sign
        color: $color-unclaimed-fg

      & + .rich-check__box
        
        & .svg-check-box__square
          stroke: #bfbfbf

        & .svg-check-box__mark
          fill: #ccc

      &:not(.rich-check__input:checked)

        & + .rich-check__box

          & .svg-check-box__square
            stroke: #bfbfbf

  &__box     
    display: flex

  &__title
    @include useless.font-type($weight: bold, $color: $color-main-fg)
    max-width: 232px
    width: max-content

  &__text
    grid-column-start: 2
    @include useless.font-type($size: 12px, $color: $color-additional-fg)
    max-width: 232px
    width: max-content

