extends ../../layout/layout

append vars
  include /card-search-room/card-search-room
  include /card-reg/card-reg
  include /card-room-details/card-room-details
  include /card-sign-in/card-sign-in
  include /calendar/calendar
  include /card-room-preview/card-room-preview

  - 
    const title = 'Cards'
    const pageClass = 'cards'
    isUikit = true

append main
  main.cards__main
    .cards__column
      +card-search-room({
        dropdownParams: { hash: "cardd_021" },
        dateDropdownParams: { calAttrs: { initDate: "2022" } }
      })
      +card-reg({})
    .cards__column
      +card-room-details({
        dateDroppdownParams: {
          calAttrs: {
            initDate: "2019-08-08", 
            startDate: "2019-08-19",
            endDate: "2019-08-23"
          }
        }, 
        dropdownParams: { counterValues: "3" }
      })
      +card-sign-in({})
    .cards__column.cards__column_narrow
      +calendar({})
      +card-room-preview({}) 
      - 
        const cardRoomParams = {
          imgNames: Array(4).fill('crp-2.webp'),
          roomNumber: 840,
          cost: 9900,
          isLuxury: false,
          nReviews: 65,
          rate: 4
        }
      +card-room-preview(cardRoomParams)

