@use '@styles/useless/useless'

.check-list
  display: flex
  flex-direction: column

  &_open

    & .check-list__expand-list
      display: flex

    & .check-list__button-expand-icon
      transform: rotate(0.5turn)

  &__button
    @include useless.button-common-styles
    display: flex
    justify-content: space-between
    align-items: center
    box-sizing: border-box

    &:focus
      outline: 1px dashed black

  &__button-label
    @include useless.font-bold-type

  &__button-expand-icon
    min-width: 44px
    transition: all .2s

  &__expand-list
    display: none
    flex-direction: column
    row-gap: 11px
    margin-top: 17px
    box-sizing: border-box

