include ../check/check
include ../svg-expand-icon/svg-expand-icon

mixin check-list({checkParams = [], label = 'expandable checkbox list', isOpen})
  .check-list(class=isOpen && 'check-list_open')
    button.check-list__button
      span.check-list__button-label #{label}
      span.check-list__button-expand-icon
        +svg-expand-icon()
    .check-list__expand-list
      each params in checkParams
        +check(params)

