@use '@library/color/base-color' as colors

.header__menu-button
  display: none
  background: rgba(1, 1, 1, .0)
  padding: 0
  border: none
  outline: none
  cursor: pointer

  &:hover .header__burger
    fill: colors.$base-color-100

.header__burger
  fill: colors.$base-color-75

@media screen and (max-width: 1000px)
  .header__menu-button
    display: flex
    align-items: center


