.header__menu-button
  display: none
  background: rgba(1, 1, 1, .0)
  padding: 0
  border: none
  outline: none
  cursor: pointer

  &:hover .header__burger

.header__burger

@media screen and (max-width: 1000px)
  .header__menu-button
    display: flex
    align-items: center


