mixin text-field(params)
  -
    const additionalParams = {
      ...params,
      masked: false,
      class: 'text-field_masked js-text-field_masked',
      placeholder: 'ДД.ММ.ГГГГ',
      maxlength: 10,
    }

  input.text-field&attributes(params.masked ? additionalParams : params)

