@use 'sass:color'

@use '@styles/useless/useless'
@import '@styles/vars/colors'

body 
  display: flex
  flex-direction: column
  height: 100vh

.header
  position: sticky
  top: 0
  z-index: 1000

.sr

  &-main
    flex-grow: 1
    display: flex
    margin: 0 auto

    &__aside-button
      min-width: 30px
      height: 50px
      cursor: pointer

    &-filter
      display: none
      width: 100%
      height: calc(100vh - 70px)
      position: fixed
      top: 70px
      z-index: 100

      &_expanded
        display: flex

      &__container
        width: min-content
        background-color: lightcyan
        padding: 0 20px
        height: calc(100vh - 70px)
        overflow-y: scroll

      &__content
        display: flex
        flex-direction: column
        width: 266px

      &__plug
        flex-grow: 1
        background-color: color.adjust($color-title-fg, $alpha: -0.7, $lightness: 10%)


    &-content
      flex-grow: 1

      &__container
        display: flex
        flex-wrap: wrap
        column-gap: 12px
        row-gap: 20px
        max-width: 834px

