@use 'sass:color'

@use '@styles/useless/useless'
@import '@styles/vars/colors'

body 
  display: flex
  flex-direction: column
  height: 100vh

.sr

  &-main
    flex-grow: 1
    display: flex
    margin: 0 auto
    gap: 10px

    &__aside-button
      @include useless.button-common-styles
      display: none
      align-items: center
      justify-content: center
      min-width: 30px
      height: 60px
      cursor: pointer

      &:hover, &:focus

        & > .svg-expand-icon
          opacity: 1
        
      & > .svg-expand-icon
        transform: rotate(-90deg)

    &-filter
      padding-left: 10px

      &__container
        display: flex
        gap: 10px
        background-color: white

      &__button
        @extend .sr-main__aside-button
        display: none
        transform: rotate(180deg)

      &__content
        display: flex
        flex-direction: column
        width: 266px

      &__plug
        flex-grow: 1
        background-color: color.adjust($color-title-fg, $alpha: -0.7, $lightness: 10%)


    &-content
      flex-grow: 1

      &__container
        display: flex
        flex-wrap: wrap
        column-gap: 12px
        row-gap: 20px
        max-width: 834px

@media (max-width: 570px)
  .sr
    
    &-main
      gap: 0

      &__aside-button
        display: flex

      &-filter
        display: none
        padding: 0
        width: 100%
        height: calc(100vh - 70px)
        position: fixed
        top: 70px
        z-index: 100

        &_expanded
          display: flex

        &__container
          width: max(320px, 350px)
          height: calc(100vh - 70px)
          overflow-y: scroll

