@use 'calendar__day-button_next-month'
@use 'calendar__day-button_prev-month'
@use 'calendar__day-button_today'
@use 'calendar__day-button_range'

.calendar__day-button
  position: relative
  margin: 0
  width: 40px
  height: 40px
  border-radius: 50%
  z-index: 100
