@use 'calendar__day-button_common'
@use 'calendar__day-button_next-month'
@use 'calendar__day-button_prev-month'
@use 'calendar__day-button_today'
@use 'calendar__day-button_range'

.calendar__day-button
  width: 40px
  height: 40px
  position: relative
  margin: 0
  padding: 0
  border-radius: 50%
  border-width: 0
  z-index: 100
