.room-card__carousel
  position: relative
  width: 270px
  height: 151.38px
  overflow: hidden
  border-radius: 4px 4px 0 0

.room-card__carousel-container
  display: flex
  position: absolute
  margin-left: -135px
