.room-card__carousel
  position: relative
  width: 271px
  height: 152px
  overflow: hidden
  border-radius: 4px 4px 0 0
  overflow: hidden

.room-card__carousel-container
  display: flex
  width: max-content
  height: 100%
  transition: all 0.2s
