@use '@library/color/base-color' as color

.dropdown__decrease-button
  width: 30px
  height: 30px
  border: 1px solid color.$base-color-25
  border-radius: 50%
  background: #ffffff
  outline: none
  cursor: pointer
