@import '@/node_modules/normalize.css'

@import '@styles/font-faces'
@import '@styles/vars/colors'
@import '@styles/vars/fonts'

html
  font-family: $main-font-family
  font-size: $base-font-size
  color: $color-main-fg
  background-color: $color-main-bg
  scroll-behavior: smooth

::-webkit-input-placeholder
  color: $color-unclaimed-fg

