@import '@/node_modules/normalize.css'

@import '@assets/fonts/montserrat-regular/fonts.css'
@import '@assets/fonts/montserrat-bold/fonts.css'
@import '@styles/vars/colors'
@import '@styles/vars/fonts'

$size-base-font: 14px

html
  font-family: $font-main
  font-size: $size-base-font
  color: $color-main-fg
  background-color: $color-main-bg
  scroll-behavior: smooth

::-webkit-input-placeholder
  color: $color-unclaimed-fg

